.ParentsForm, .IdentiteTitulaireForm {
  .PrenomsForm{
  display: flex;

  .BlockErreur {
    margin-left: 40% !important;
  }
  }
  .BlockInput {
    display: flex;
    width: 800px;
    justify-content: flex-start;
    input {
      width: 60%;
    }
    label {
      width: 40%;
    }

  }
  .BlockErreur {
    margin-left: 23% !important;
  }
}
