
.inputRechercheReqNatali {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2;
    margin-left: 2vw;
}

.loupeButton {
    height: 1.7em;
    width: 1.7em;
    flex-grow: 1;
}


.inputField {
    width: 15vw;
}