@import "../../../../../../../scss/colors";

.PrenomsForm {
  display: grid;
  grid-template-columns: 65% 35%;
  .InputField {
    .BlockInput {
      grid-template-columns: 30.7% 69.5%;
    }
    .BlockErreur {
      margin-left: 30.7%;
    }
  }
  button {
    margin: 0.5rem 0 0.5rem 1rem;
  }
}
