@import "../../../../../scss/colors";

.BandeauRequete {
  border-radius: 0.25rem;
  text-align: justify;
  width: 100%;

  .bleu {
    background-color: $title-application-color;
  }
  .gris {
    background-color: gray;
  }
  h2 {
    background-color: $title-application-color;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 1.0625em;
    color: white;
}
  
  div {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid;
    border-color: #8080805c;
    border-radius: 0 0 0.25rem 0.25rem;
    span {
      padding-right: 1.5em;
      &.title {
        font-weight: bold;
        padding-right: 0px;
      }
    }
  }
  .Entete {
    border-radius: 0.25rem;
    text-transform: none;
  }
}
