.formulaire-mise-a-jour-analyse-marginale {
  padding: 2rem 1rem;

  .champs-formulaire {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .champs-texte-rece {
      width: 70%;

      .input-texte-rece {
        width: 95%;
      }
    }

    .conteneur-champs-noms,
    .conteneur-champs-prenom {
      .input-texte-rece {
        width: 75%;
      }
    }

    .champs-motif {
      margin-top: 2rem;
    }
  }

  .bouton-annuler-saisie {
    text-align: start;
    margin-top: 1.5rem;
    position: sticky;
    bottom: 2rem;
  }

  .boutons-actions-form {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
  }
}
