apiVersion: apps/v1
kind: Deployment
metadata:
  name: rece-ui
spec:
  selector:
    matchLabels:
      module: rece-ui
      composant: apache
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        # Remplacé par la CI, force le POD a être rédemarré (mais pas son éventuelle base de données)
        commit-sha: $CI_COMMIT_SHA
    spec:
      containers:
        - image: artifactory-registry.forge.diplomatie.gouv.fr/rece-images-docker-snapshot/rece-ui:develop
          name: rece-ui
          imagePullPolicy: Always
          volumeMounts:
            - name: config-apache-rece-ui
              mountPath: "/etc/apache2/sites-enabled/rece-ui.conf"
              subPath: rece-ui.conf
          ports:
            - containerPort: 8080
      restartPolicy: Always
      volumes:
        - name: config-apache-rece-ui
          configMap:
            name: rece-ui
