apiVersion: apps/v1
kind: Deployment
metadata:
  name: rece-ui
spec:
  selector:
    matchLabels:
      module: rece-ui
      composant: apache
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      containers:
        - image: gitlab-registry.forge.diplomatie.gouv.fr/rece/ui/rece-ui/rece-ui:REF
          name: rece-ui
          imagePullPolicy: Always
          volumeMounts:
            - name: config-apache-rece-ui
              mountPath: "/etc/apache2/sites-enabled/rece-ui.conf"
              subPath: rece-ui.conf
          ports:
            - containerPort: 8080
      imagePullSecrets:
        - name: pull-docker
      restartPolicy: Always
      volumes:
        - name: config-apache-rece-ui
          configMap:
            name: rece-ui
