# Configuration Apache pour les resources statiques
# A tester : 
# F5 sur http://<host>/rece/rece-ui/mesrequetes devrait rester sur la page
# URL en /rece ou /rece/ devrait aller vers /rece/rece-ui/
# /rece/rece-ui (sans slash) devrait faire un redirect vers /rece/rece-ui/

apiVersion: v1
kind: ConfigMap
metadata:
  name: rece-ui
data:
  rece-ui.conf: |
    # Chargement des modules Apache nécessaires
    LoadModule rewrite_module /usr/lib/apache2/modules/mod_rewrite.so
    LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
    LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so

    # Log sur sortie standard, plus facile à lire en Kubernetes
    ErrorLog /dev/stderr
    LogLevel debug
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" - %{ms}T ms" combinedandtime
    CustomLog /dev/stdout combinedandtime
    
    DocumentRoot /var/www

    # Apache exige qu'on notifie explicitement le répertoire (disque) à servir
    # Nous exposons ici les resources statiques (.js, images, .html...)
    <Directory /var/www/rece>   

      # Requis par mod_rewrite, https://httpd.apache.org/docs/2.4/fr/mod/mod_rewrite.html
      RewriteEngine On
      Options FollowSymLinks
        
      # Ajout du slash si besoin. HOSTNAME_SITE est valorisé par gitlab-ci en fonction de l'environnement.
      RewriteRule ^.*rece-ui$ %{HTTP:X-Forwarded-Proto}://${HOSTNAME_SITE}/rece/rece-ui/ [R=302,L]
      
      # Si l'URL est index.html, on sort
      RewriteRule ^/rece-ui/index\.html$ - [L]
      
      # Réécriture des URLS pour prendre en compte les URL
      # issues de react-router (chemins 'virtuels') qui doivent tous pointer vers /index.html
      # Si l'URL ne pointe pas vers un fichier ou un répertoire, on renvoie sur index.html
      RewriteCond %{REQUEST_FILENAME} !-f
      RewriteCond %{REQUEST_FILENAME} !-d
      RewriteCond %{REQUEST_FILENAME} !-l
      RewriteRule rece-ui/.* /rece/rece-ui/index.html [L]
    </Directory>