# Configuration Apache pour le frontal Apache. Comme vu avec ESU, ce composant a plusieurs fonctions :
# - Simple Serveur Web pour les ressources statiques (.js, .html, .css, images…​) des modules d’UI (comme rece-ui)
# - Reverse Proxy (RP) (avec mod_proxy)
# - Service Provider SAML (avec mod_shibboleth)

# Cette configuration est réutilisable pour un déploiement Salt
# Une nouvelle fonction (actuellement portée par l'ingress K8S sera à ajouter : le Load Balancing
# (avec mod_proxy_balancer et mod_lbmethod_byrequests ) vers les différents noeuds actifs-actifs des API

apiVersion: v1
kind: ConfigMap
metadata:
  name: rece-frontal
data:
  rece-frontal.conf: |
        
    # Chargement des modules Apache nécessaires
    LoadModule rewrite_module /usr/lib/apache2/modules/mod_rewrite.so
    LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
    LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
    LoadModule mod_shib /usr/lib/apache2/modules/mod_shib.so
    
    # Log sur sortie standard, plus facile à lire en Kubernetes
    ErrorLog /dev/stderr
    LogLevel debug
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" - %{ms}T ms" combinedandtime
    CustomLog /dev/stdout combinedandtime
    
    # On redirige vers l'UI par défaut sur /rece ou /rece/
    # On utilise le header X-Forwarded-Host qui contient le hostname du client avant transformation
    # par les reverse proxy, sinon, redirection vers un hostname inaccessible.
    <Location />
      RewriteEngine On
      RewriteRule ^.*rece$  http://%{HTTP:X-Forwarded-Host}/rece/rece-ui/ [R=301,L]
      RewriteRule ^.*rece/$  http://%{HTTP:X-Forwarded-Host}/rece/rece-ui/ [R=301,L]
    </Location>

    # Pour chaque API appelable depuis le navigateur, on prévoit une redirection (depuis cet Apache) vers le Tomcat
    # Note: pas besoin de ProxyPassReverse uniquement utile pour les redirect (code 301 ou 302), pas utilisé sur RECE
    
    ProxyPass /rece/rece-ui http://rece-ui/rece/rece-ui
    ProxyPass /rece/rece-admin-ui http://rece-admin-ui/rece/rece-admin-ui

    ProxyPass /rece/rece-requete-api http://rece-requete-api/rece-requete-api
    ProxyPass /rece/rece-securite-api http://rece-securite-api/rece-securite-api

    # On protége en SAML les URL commencant par '/rece', y compris les URLS vers les resources statiques (/rece/rece-ui)
    <Location /rece>
      AuthType shibboleth
      ShibRequestSetting applicationId rece
      ShibRequestSetting requireSession 1
      # On a besoin coté backend des headers (nom, prenom...) fixé par shibboleth
      ShibUseHeaders On
      require valid-user
    </Location>

