@import "./../../../../scss/colors";

.Toastify__toast-container {
  width: auto;
  top: 75px;
  max-width: 500px;

  .Toastify__toast {
    padding-right: 10px;
  }

  .Toastify__close-button {
    min-width: max-content;
  }

  div {
    padding: 0px;
  }

  .success {
    color: $success;
    background-color: $success-background;
  }

  .error {
    color: $error;
    background-color: $error-background;
  }

  .info {
    color: $info;
    background-color: $info-background;
  }

  .warning {
    color: $warning;
    background-color: $warning-background;
  }
}
