@import "../../../../../scss/colors";

.selecteursContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.stepperButton {
    svg {
        font-size: 2rem;
    }
}