.formDiv {
    height: 500px;
    overflow: scroll;
}

.selecteursContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.refTag {
    padding: 10px;
    color: white;
    background-color: #0579be;
    border: 1px solid; 
}

.stepperContainer {
    padding: 10px;
}