@import "../../../../../../../scss/colors";

.conteneur-colonne-element {
  display: flex;
  justify-content: space-between;

  .WarningIcon {
    color: $alertes;
  }

  .InfoIcon {
    color: $info-icon-color;
  }
}
