$error: #721c24;
$error-border: #f5c6cb;
$error-background: #f8d7da;
$success: #155724;
$success-border: #c3e6cb;
$success-background: #d4edda;
$info: #004085;
$info-border: #b8daff;
$info-background: #cce5ff;
$application-color: #0579be;
$title-application-color: #024056;
$button-application-color: #03476e;
