$error: #611a15;
$error-background: #fdecea;
$error-icon-color: #f44336;
$success: #1e4620;
$success-background: #edf7ed;
$success-icon-color: #4caf50;
$warning: #663c00;
$warning-background: #fff4e5;
$warning-icon-color: #ff9800;
$info: #0d3c61;
$info-background: #e8f4fd;
$info-icon-color: #2196f3;
$application-color: #0579be;
$title-application-color: #024056;
$button-application-color: #03476e;
$application-hoover: #0579be78;
$border-array: #8080805c;
$application-contener: #7fb0f9;
$application-libelle: #595959;
$disabled-button: #4b4b4bde;
$border-focus: #f99a05;
$alertes: #b22222;
$bandeau-color: #ffd966;
