@import "./colors";

@font-face {
  font-family: "NotoSansUI-Regular";
  src: url("../fonts/NotoSansUI-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansUI-Bold";
  src: url("../fonts/NotoSansUI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.televerificationIcon {
  font-size: 7.5em !important;
}

.center {
  text-align: center;
}

a {
  button {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

button {
  margin: 0.3em 0.3em 0.3em 0.6em;
  background: $button-application-color;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  padding: 0.3em;
  overflow: hidden;
  position: relative;
  min-width: 4vw;
  color: white;
  font-family: "NotoSansUI-Bold", sans-serif;
  font-size: initial;
  text-align: center;
  cursor: pointer;
  border: medium none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  -webkit-box-direction: normal;

  &:disabled {
    background-color: rgba(75, 75, 75, 0.87);
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 0 2pt $border-focus;
  }
}

form {
  button {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  text-align: left;
  font-family: "NotoSansUI-Bold", sans-serif;
  font-size: 1.575em;
  color: #024056;
  font-weight: 500;
}

h3 {
  color: #0579be;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.0625em;
}

h4 {
  color: #0579be;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 0.6725em;
}

input {
  height: 1.852em;
  width: 13.851em;
  padding: 0.5em 3em 0.5em 1em;
  -webkit-appearance: none;
  border: 1px solid #aeaeae;
}

input::placeholder {
  font-size: smaller;
}

legend {
  font-size: 0.6725em;
  margin: 0.525em;
}

p {
  text-align: justify;
}

option {
  font: 400 13.3333px Arial;
}

select {
  width: 18em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 3.00075em;
  padding: 0.5em 3em 0.5em 1em;
  background: url(../img/expand-close.svg) #fff no-repeat calc(100% - 6px) 50%;
  background-size: 43px;
  line-height: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #aeaeae;
}

.FormContent {
  color: #232425;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f4f4f4;
  border-radius: 0.3em;
  padding: 0.45em;
  position: relative;
}

.tableauFontHeader {
  font-family: "NotoSansUI-Bold", sans-serif !important;
  color: $application-color !important;
  text-decoration: underline !important;
}

.OrderedHeaderCell {
  font-weight: bold !important;
}

.tableauFontBody {
  font-family: "NotoSansUI-Regular", sans-serif !important;
}

.BoutonRetour {
  float: left;
  background-color: $button-application-color;
  color: #fff;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: initial;
  font-family: "NotoSansUI-Bold";
  text-decoration: none;
  padding: 0.3em;

  &:link {
    outline-style: none;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 0 2pt $border-focus;
    border: none;
  }
}

.error {
  color: $error;
  background-color: $error-background;
  border-color: $error-border;
}

.toast {
  background-color: #ffffff;
  left: 50%;
  position: fixed;
  padding: 1em;
  max-height: calc(-56px + 100vh);
  border-style: solid;
  z-index: 999;
  top: 75px;
  outline: currentColor none 0px;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  border-width: 1px;
}

.todo {
  // color: $todo;
  // label,
  // textarea,
  // button {
  //   color: $todo;
  // }
}

.capital {
  text-transform: capitalize;
}

.MuiBreadcrumbs-li a,
.MuiBreadcrumbs-li div {
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
}

.LinkFilAriane {
  background-color: $button-application-color;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  &:hover {
    background-color: $application-color;
  }
}

.TextFilAriane {
  background-color: $application-color;
  padding: 0.2rem 0.7rem;
}

.MuiBreadcrumbs-root {
  margin: 1em 0 0 0 !important;
}

th {
  span {
    &:focus {
      border-style: dotted;
      border-color: grey;
      border-width: 0.1rem;
    }
  }
}
