# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# log
/logs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/settings.json


# Adrien à supprimer suite à la 3373
*.iml
src/pages/requetesDelivrance/A_SUPPRIMER_TOGGLE/toggleBoutonASUPPRIMER.scss
src/views/core/header/Header.tsx
src/pages/requetesDelivrance/A_SUPPRIMER_TOGGLE/ToggleRedirectionASUPPRIMER.tsx
src/views/router/ReceRoutes.ts
