.actions-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  .event-button {
    display: flex;
    button {
      margin: 0px;
    }
    div {
      display: inline-flex;
      margin: auto;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .actions-buttons {
    .event-button {
      display: block;
      div {
        display: inline-flex;
        margin-top: 15px;
      }
    }
  }
}
