@import "../../../../../sass/colors";

.contenu-requete {
  display: flex;
  margin-top: 20px;
  .side {
    &.left {
      width: 25%;
      min-width: 350px;
    }
    &.right {
      width: 75%;
      min-width: 500px;
    }
    display: inline-block;
  }

  .entete-info {
    width: 100%;
  }

  .commentaires {
    margin-top: 20px;
    width: 100%;
    label: {
      color: $application-libelle;
    }
  }
}

@media only screen and (max-width: 800px) {
  .contenu-requete {
    display: block;
    .side {
      &.left {
        width: 60%;
      }
      &.right {
        width: 100%;
      }
      display: inline-block;
    }
  }
}
