@import "../../../../../sass/colors";

.resume-requete-content {
  text-align: justify;
  padding: 0.5em 1em 0.5em 1em;

  .bloc-info {
    div {
      &.label {
        width: 55%;
        color: $application-libelle;
        vertical-align: top;
      }

      &.personnal-info {
        width: 45%;
      }
      display: inline-block;
    }
  }
}
