@import "../../../../../sass/colors";

.resume-requete {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: $border-array;
  border-radius: 0.25rem;
  border-top: 0em;
  width: 100%;

  .title {
    height: 2.5em !important;
    background-color: $application-color;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
    svg {
      color: white;
    }

    span {
      text-align: justify;
    }
  }
}

.extrait {
  height: 100%;
}
