.AccueilPage {
  .Titre {
    font-size: 3rem;
    color: #03476e;
    font-weight: bold;
  }

  .Affectation {
    font-size: 1.3rem;
  }

  .MenuAccueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3rem;
  }

  .BadgeAdmin {
    .IconeBouton {
      color: white;
      background-color: #0579be;
      padding: 1rem;
      border-radius: 5rem;
      margin: 0 1.25rem 0.5rem 1.25rem;
      max-width: 42px;
      max-height: 42px;
      cursor: pointer;
      box-shadow: 0px 5px 0px 0px #03476e, 0px 10px 5px #999;
    }
    &:hover {
      .IconeBouton {
        background-color: #03476e;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 5px 0px 0px #0579be, 0px 10px 5px #999;
      }
    }
  }
}
