.AccueilPage {
  .Titre {
    font-size: 3rem;
    color: #03476e;
    font-weight: bold;
  }

  .Affectation {
    font-size: 1.3rem;
  }

  .MenuAccueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3rem;
  }
}
