.BoutonAccueil {
  font-size: 1.5rem;
  background: #0579be;
  padding: 1.5rem;
  margin: 0;
  border-radius: 10px;
}

.BadgeAccueil .MuiBadge-badge {
  background: red;
  padding: 0 9px;
  font-size: 1.2rem;
  height: 28px;
  border-radius: 30px;
}
