.bouton-rece {
    margin: 0;
    border-radius: 0;
    background-color: var(--bleu-sombre-rece);
    border: var(--bleu-sombre-rece) 1px solid;
    padding: .5rem 1rem;
    text-transform: uppercase;
    transition: background-color .2s ease;

    &:hover {
        background-color: var(--bleu-rece);
    }

    &:disabled {
        background-color: var(--gris-inactif);
        border-color: var(--gris-inactif);
    }
}