@import "../../../../../scss/colors";
.IconeCroix {
  color: $application-color;
  &:hover {
    cursor: pointer;
  }
  align-self: center;
  margin-left: 2px;
}

.IconePoubelle {
  color: $application-color;
  &:hover {
    cursor: pointer;
  }
  align-self: center;
  margin-left: 2px;
}
