@import "../../../../../scss/colors";
.IconeCroix,
.IconePoubelle,
.IconeMoins,
.IconePlus {
  color: $application-color;
  &:hover {
    cursor: pointer;
  }
  align-self: center;
  margin-left: 2px;
}

.IconeDanger {
  color: $code-couleur-alertes-rouge;
  &:hover {
    cursor: pointer;
  }
  align-self: center;
  margin-left: 2px;
}

.IconeValider {
  color: $code-couleur-alertes-vert;
  &:hover {
    cursor: pointer;
  }
  align-self: center;
  margin-left: 2px;
}
