.NationalitesForm { 
    display: grid;
    grid-template-columns: 65% auto;
  
    .BlockInput {
      grid-template-columns: 38.3% auto !important;
    }
    .BlockErreur {
      margin-left: 38.3% !important;
    }
    .BoutonsConteneur {
      margin-top: -0.1rem;
    }
}