.MiseAJourAnalyseMarginale {

    .Formulaire {
        margin: 1vh;
        margin-top: 2vh;
    }
    
    .blocNomSecable {
        display: flex;
        flex-direction: column;
    }
    
    .bandeauSection {
        background-color: grey;
        font-weight: bold;
        display: flex;
        justify-content: left;
        margin-bottom: 2vh;
        margin-top: 2vh;
    
        > p {
            margin: 10px;
        }
    }
    
    .checkboxSecable {
        margin-bottom: 2vh;
    }
    
     .InputField > .BlockInput {
        display: flex;
        flex-direction: row;
        gap: 0vw;
    
        > label {
            width: 10vw;
        }
    
        > input {
            width: 17vw;
        }
    }
    
}

