@import "../../../../../scss/colors";

.Fieldset {
  border-radius: 0.3rem;
  border: 1px solid;
  border-color: $button-application-color;
  background-color: $form-background;
  text-align: start;

  > .Titre {
    background-color: $button-application-color;
    padding: 0.2em 1em;
    margin: 0em;
    border-radius: 0.25em 0.25em 0 0;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .Fieldset {
    margin: 1rem;
    border-color: $application-color;

    > .Titre {
      background-color: $application-color;
    }
  }
}

.ApercuRequete,
.ApercuRequetePriseEnCharge,
.ApercuRequeteTraitement,
.ApercuCourrierAccompagnement {
  .Fieldset {
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: $border;
    background-color: white;
    width: 100%;

    > .Titre {
      text-align: center;
      font-weight: bold;
      font-size: 1.1rem;
      color: white;
      background-color: $application-color;
      padding: 0.285em 1em 0.285em 1.325em;
      margin: 0em;
      border-radius: 0.25em;
    }
  }
}
