
.filtre-service-information {
    display: flex;
    gap: 2em;
    margin: 2rem 0;
    justify-content: center;
    align-items: flex-end;

    .InputField {
        max-width: 20%;
    }
    
    
    .actionButton {
        height: 1.7em;
        width: 1.7em;
        flex-grow: 1;
    }
}
