
.filtre-service-information {
    display: flex;
    gap: 2em;
    margin: 2rem 0;
    justify-content: center;
}

.InputField {
    max-width: 20%;
}


.actionButton {
    height: 2em;
    width: 2em;
    flex-grow: 2;
}