@import "../../../../../scss/colors";

.EspaceInformationPage {
  margin-top: 2rem;
  .Titre {
    text-align: start;
    color: $title-application-color;
  }
}

.BoutonPrendreEnChargeAleatoirementRequeteInformation {
  display: flex;
  justify-content: flex-end;
}

.headerOngletInformation {
  margin-top: 1em;
  background: none !important;

  .ongletInformation {
    a {
      background-color: $application-color;
      opacity: 1 !important;
    }
    a.Mui-selected {
      cursor: default;
    }
    a.Mui-disabled {
      background-color: $disabled-button;
      cursor: not-allowed;
    }
    .MuiTabs-indicator {
      width: 50% !important;
      background-color: lightgreen !important;
    }
  }
}