.Bandeau {
  background-color: #ffd966;
  padding: 0.5rem;

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-around;
    padding: 0.2rem 1rem;
  }

  .LigneNumero {
    & div:first-child {
      flex-grow: 1.7;
      text-align: end;
    }
    & div:last-child {
      flex-grow: 1;
      text-align: end;
    }
    font-size: 22px;
  }

  .statusFiche {
    font-size: 20px;
  }

  .LignePrenomNom {
    font-size: 20px;
  }

  .LignePrenomNom,
  .LigneDates {
    div {
      flex-grow: 1;
    }
    & div:first-child {
      text-align: start;
    }
    & div:last-child {
      text-align: end;
    }
  }

  .alertes {
    font-size: 18px;
  }

  .InfoImportante {
    font-weight: 700;
  }

  .IconeAlertes {
    color: firebrick;
    margin-right: 0.5rem;
  }
}
