$spacing: 0.5rem;

.MandantForm {
  .BlockInput {
    grid-template-columns: 20% 45%;
  }
  .BlockErreur {
    margin-left: 20%;
  }
  .BoutonsConteneur {
    margin-top: $spacing * -1;
    padding-left: $spacing;
    padding-right: $spacing;
  
    button {
      margin: $spacing;
    }
  }
}
