@import "./../../../../../../scss/colors";

.Autocomplete {
  margin-bottom: 0.5rem;
  input {
    width: -webkit-fill-available; // Force le champ input à 100% de son parent dans tous les cas (chrome)
    width: -moz-available; // Force le champ input à 100% de son parent dans tous les cas (firefox)
  }

  .loupeChampsRecherche {
    font-size: 1.2rem;
    color: $application-color;
    margin-left: 1.8rem;
  }

  .IconeCroix {
    margin-left: -25px;
  }
}
