@import "../../../../../sass/colors";

.DateComposeForm {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 50% 12.5% 9px 12.5% 9px 22%;

  label {
    align-self: center;
    color: $button-application-color;
  }

  input {
    align-self: center;
  }

  input:nth-child(3) {
    margin-right: 0.5rem;
  }

  .Sep {
    margin: auto;
  }

  input {
    text-align: center;
  }
}

.DateComposeFormWithDatePicker {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 50% 12.5% 9px 12.5% 9px 14% 7%;

  label {
    align-self: center;
    color: $button-application-color;
  }

  input {
    align-self: center;
  }

  input:nth-child(3) {
    margin-right: 0.5rem;
  }

  .Sep {
    margin: auto;
  }

  input {
    text-align: center;
  }
}
