@import "../../../../../sass/colors";

.Formulaire {
  margin: 1.5rem 7rem;

  .DeuxColonnes {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  input:disabled {
    background-color: $form-input-disabled;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $form-border-input-disabled;
    height: 30px;
    border-radius: 0.2rem;
    padding: 1px 8px;
  }

  .BlockInput {
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: grid;

    label {
      align-self: center;
      color: $button-application-color;
    }
    input {
      align-self: center;
    }
  }

  .BlockErreur {
    color: $error;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    .Warning {
      font-size: 0.85rem;
      margin-right: 0.5em;
    }
  }

  .RadioInput {
    input {
      margin: 0 1rem;
    }
  }
}
