@import "../../../../../scss/_colors.scss";

.Formulaire {
  
  .DeuxColonnes {
    display: grid;
    grid-template-columns: 50% 50%;

  }

  input:not([type="checkbox"]):not([type="radio"]):disabled {
    background-color: $form-input-disabled-bg;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $form-border-input-disabled;
    height: 30px;
    border-radius: 0.2rem;
    padding: 1px 8px;
    color: $form-input-disabled-color;
  }

  .BlockInput {
    display: grid;

    label {
      align-self: center;
      color: $button-application-color;
    }
    input {
      align-self: center;
      margin: 0.25rem;
    }
    select {
      align-self: center;
      margin: 0.25rem;
    }
  }

  .BlockErreur {
    color: $error-formulaire;
    font-size: 0.9rem;
    .Warning {
      font-size: 0.9rem;
      margin-right: 0.5em;
    }
  }

  .RadioInput {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    input {
      margin: 0;
    }
    label {
      margin-left: 0.5rem;
      margin-right: 1rem;
    }
  }
}
