@import "../../../../../sass/colors";

.Formulaire {
  margin: 1.5rem 5rem;

  .DeuxColonnes {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .Buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .ResetButton {
    background-color: $application-color;
  }

  input:disabled {
    background-color: $form-input-disabled;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $form-border-input-disabled;
    height: 30px;
    border-radius: 0.2rem;
  }
}
