@import "../../../../../scss/colors";

.Boutons {
  display: flex;
  flex-direction: column;

  .rechercher {
    display: flex;
    justify-content: center;
  }

  .rappelEtReinitialiser {
    display: flex;
    width: auto;
    justify-content: center;
  }
}
