@use "../../../../../scss/colors" as *;

.Boutons {
  display: flex;
  justify-content: space-evenly;
}

.BoutonsRechercheMulti {
  display: flex;
  flex-direction: column;
  .rechercher {
    display: flex;
    justify-content: center;
  }

  .rappelEtReinitialiser {
    display: flex;
    width: auto;
    justify-content: center;
  }
}
