@import "./../../sass/colors";
@import "./../../sass/library";

.App {
  text-align: center;
  font-family: $application-font-family;
}

.AppHeader {
  background: $application-color;
  height: 4em;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.55);
  color: white;
  display: grid;
  grid-template-columns: 15% 70% 15%;

  .LogoHeader {
    text-align: start;
    img {
      margin: 0.5rem;
      cursor: pointer;
      width: 50%;
    }
  }

  h1 {
    margin: 1.1rem;
  }

  .UtilisateurBouton {
    text-align: end;
    margin: 0.7rem 2rem;

    button span {
      color: white;
      text-transform: initial;
      font-family: $application-font-family;
      font-size: 1rem;
    }

    button {
      &:focus,
      &:hover {
        box-shadow: none;
        background-color: $application-color;
      }
    }
  }

  @media (max-width: 720px) {
    h1 {
      display: none;
    }
  }
}
.Menu {
  ul {
    background-color: $button-application-color;
    color: white;
    li svg {
      margin-right: 0.3rem;
    }
  }
  li:hover {
    background-color: $application-color;
  }
}

.AppBody {
  padding-left: 10em;
  padding-right: 10em;

  @media (max-width: 1500px) {
    padding-left: 5em;
    padding-right: 5em;
  }

  @media (max-width: 1100px) {
    padding-left: 2em;
    padding-right: 2em;
  }

  @media (max-width: 700px) {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.AppLink {
  color: #61dafb;
}

.PageLogin {
  color: $button-application-color;
  font-size: 2em;
  margin: 5em;
}
