@use "./../../scss/colors" as *;
@use "./../../scss/library" as *;

.Menu {
  ul {
    background-color: $button-application-color;
    color: white;

    li svg {
      padding: 0.5rem;
    }
  }
  li:hover {
    background-color: $application-color;
  }
}
