@import "./../../sass/colors";

.App {
  text-align: center;
  font-family: "NotoSansUI-Regular";
}

.AppHeader {
  background: $application-color no-repeat scroll 0 0;
  height: 4em;
  width: 100%;
  display: grid;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: sticky;
  top: 0;
  z-index: 1;

  @media (max-width: 1250px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(1, 1fr);
  }

  h1 {
    float: right;
    @media (max-width: 1250px) {
      text-align: left;
      margin-left: 0em;
      padding-left: 0em;
    }
    @media (max-width: 850px) {
      text-align: center;
    }
  }
}

.AppBody {
  padding-left: 10em;
  padding-right: 10em;

  @media (max-width: 1500px) {
    padding-left: 5em;
    padding-right: 5em;
  }

  @media (max-width: 1100px) {
    padding-left: 2em;
    padding-right: 2em;
  }

  @media (max-width: 700px) {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.AppLink {
  color: #61dafb;
}
