@import "./../../sass/colors";

.App {
  text-align: center;
  font-family: "NotoSansUI-Regular", sans-serif;
}

.AppHeader {
  background: $application-color;
  height: 4em;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .LogoHeader {
    margin: 0.8rem -8.5rem 0.8rem -9rem;
    cursor: pointer;
  }

  h1 {
    margin: 1.1rem;
  }

  .Utilisateur {
    margin: 1.2rem 2rem;
  }

  .UtilisateurBouton {
    margin: 0.7rem 2rem;
    button span {
      color: white;
      text-transform: initial;
      font-family: "NotoSansUI-Regular", sans-serif;
      font-size: 1rem;
    }

    button {
      &:focus,
      &:hover {
        box-shadow: none;
        background-color: $application-color;
      }
    }
  }

  @media (max-width: 720px) {
    h1 {
      display: none;
    }
  }
}
.Menu {
  ul {
    background-color: $button-application-color;
    color: white;
    li svg {
      margin-right: 0.3rem;
    }
  }
}

.AppBody {
  padding-left: 10em;
  padding-right: 10em;

  @media (max-width: 1500px) {
    padding-left: 5em;
    padding-right: 5em;
  }

  @media (max-width: 1100px) {
    padding-left: 2em;
    padding-right: 2em;
  }

  @media (max-width: 700px) {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.AppLink {
  color: #61dafb;
}
