@import "../../../../../../scss/colors";

.TableauRece{
  .MuiTableBody-root {
    tr {
      &.MuiTableRow-root {
        &:hover {
          background-color: $application-hoover;
        }
      }
    }
  }

  table {
    &.MuiTable-root {
      border: 2px $border;
      border-style: solid;
      .MuiTableCell-root {
        padding: 0.5rem 0;
      }
    }
  }

  div {
    &.MuiPaper-root {
      box-shadow: none;
    }
  }

  .ColOverflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
