@use "../../../../../../scss/colors" as *;

.TableauRece {
  .MuiTableBody-root {
    tr {
      &.MuiTableRow-root {
        &:hover:not(.ligneVide) {
          background-color: $application-hoover;
        }
      }
    }
  }

  table {
    &.MuiTable-root {
      border: 2px $border;
      border-style: solid;
      .MuiTableCell-root {
        padding: 0.2rem 0;
      }
    }
  }

  div {
    &.MuiPaper-root {
      box-shadow: none;
    }
  }

  .ColOverflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .lignePaire {
    background-color: $tableau-body-ligne-paire;
  }

  .ligneImpaire {
    background-color: $tableau-body-ligne-impaire;
  }
}
