@use "../../../../../../scss/colors" as *;
// FIXME à encapsuler dans une classe mère

.TableauRece {
  tbody {
    tr:not(.ligneVide) {
      cursor: pointer;
    }
  }

  table {
    table-layout: fixed;
  }

  .MuiTablePagination-root {
    .MuiTablePagination-actions {
      button {
        box-shadow: none;
      }
    }
  }

  .TableauFontHeader {
    font-family: "NotoSansUI-Bold", sans-serif !important;
    color: $application-color !important;
  }

  .ColonneTriable {
    text-decoration: underline !important;
  }

  .OrderedHeaderCell {
    font-weight: bold !important;
  }

  .CursorHeader {
    cursor: default !important;
  }

  .TableauFontBody {
    font-family: "NotoSansUI-Regular", sans-serif !important;
  }
}
