.conteneur-onglets-bouton {
    display: flex;
    border-bottom: var(--bleu-sombre-rece) 1px solid;

    .onglet-bouton {
        margin: 0;
        border-radius: 0;
        height: 3.5rem;
        max-width: 15rem;
        padding: .3rem 1rem;
        transition: background-color .25s ease;

        &.onglet-inactif {
            background-color: var(--gris-rece);
        }

        &:disabled:not(.onglet-inactif) {
            background-color: var(--bleu-sombre-rece);
        }

        &:not(:disabled) {
            background-color: var(--bleu-rece);
            transition: opacity .25s ease;
            &:hover {
                opacity: .8;
            }
        }
    }
}