.champs-texte-rece {
    text-align: start;

    label {
        display: block;
        text-align: start;
        color: var(--bleu-sombre-rece);
        margin: 0 0 .2rem .25rem;
        font-weight: 600;
    }

    input {
        display: block;
        padding: .25rem .5rem;
        outline-color: var(--bleu-sombre-rece);
        border: var(--gris-sombre-rece) 1px solid;
        border-radius: 4px;
        transition: border-color .2s ease;

        &:focus:not(:read-only) {
            border-color: var(--bleu-rece);
        }

        &:read-only {
            outline: none;
            background-color: var(--gris-clair-rece);
        }
    }
}