.champs-case-a-cocher-rece {
  text-align: start;
  cursor: pointer;
  width: fit-content;

  input {
    cursor: pointer;
    accent-color: var(--bleu-sombre-rece);
  }

  span {
    margin-left: 0.5rem;
    user-select: none;
    color: var(--bleu-sombre-rece);
    font-weight: 600;
  }

  &.inactif {
    opacity: 0.6;
    cursor: default;

    input {
      cursor: default;
    }
  }
}
