.champs-texte-rece {
    text-align: start;

    label {
        display: block;
        text-align: start;
        color: var(--bleu-sombre-rece);
        margin: 0 0 .2rem .25rem;
        font-weight: 600;
    }

    input {
        display: block;
        padding: .3rem .5rem;
        border: var(--gris-sombre-rece) 1px solid;
        border-radius: 4px;
        transition: border-color .2s ease;

        &:focus-within, &:focus-visible {
            border-color: var(--bleu-rece);
            outline: 2px ridge var(--bleu-rece);
        }

        &:read-only {
            outline: none;
            background-color: var(--gris-clair-rece);
        }
    }

    &.champs-en-erreur {
        label {
            color: var(--rouge-erreur);
        }

        input {
            border-color: var(--rouge-erreur);
            &:focus-within, &:focus-visible {
                outline: 2px ridge var(--rouge-erreur);
            }

            &:focus:not(:read-only) {
                border-color: var(--rouge-erreur);
            }
        }
    }

    .message-erreur-texte {
    color: var(--rouge-erreur);
    font-size: .9rem;
    text-align: start;
}
}