.conteneur-champs-nom-secable {
    display: grid;
    gap: 1rem;

    .champs-secable-et-info {
        padding: 1rem 0;
        display: flex;
        gap: 1.5rem;
        align-items: center;
    
        .info-nom-secable {
            text-align: center;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: var(--bleu-sombre-rece);
            font-weight: 600;
            color: var(--blanc-rece);
            cursor: help;
        }
    }
    
    .champs-partie-nom-secable {
        display: flex;
        gap: 1rem;
        align-items: end;
        width: 100%;
    }
}

