.FormulaireRMCAI {
  
  .titulaire {
    grid-column: 1;
    grid-row: 1;
  }

  .datesDebutFinAnnee {
    grid-column: 1;
    grid-row: 2;
  }

  .registreRepertoire {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}
