.SelectField{
    select{
        font-family: "NotoSansUI-Regular", sans-serif!important
    }
    select:disabled {
        border-color: #959595!important;
        background-color: #dedede!important;
    }

    .MuiSelect-select:focus{
        background-color: white!important;
    }

    .MuiSelect-outlined.MuiSelect-outlined{
        padding:0 0 0 10px !important;
        height: 30px;
        background-color: white;
    }
    // Appliqué seulement sur firefox
    @-moz-document url-prefix() {
        .MuiOutlinedInput-notchedOutline{
            inset:-11px 0px 0px 0px;
        }
    }
    
    option{
        font-family: "NotoSansUI-Regular", sans-serif!important
    }
}  
