@use "./../../../../../scss/colors" as *;

.PrioriteBasse {
  color: $priorite-basse;
}

.PrioriteMoyenne {
  color: $priorite-moyenne;
}

.ReportIcon,
.ClearIcon,
.PrioriteHaute {
  color: $priorite-haute;
}

.ReportIcon,
.ClearIcon,
.PrioriteBasse,
.PrioriteMoyenne,
.PrioriteHaute {
  font-size: 1rem !important;
}

.ReportIcon {
  vertical-align: middle;
}

.alerteSdanfIcone {
  color: red;
}
