@import "./../../../../../scss/colors";

.PrioriteBasse {
  color: $priorite-basse;
}

.PrioriteMoyenne {
  color: $priorite-moyenne;
}

.ReportIcon,
.ClearIcon,
.PrioriteHaute {
  color: $priorite-haute;
}

.ReportIcon,
.ClearIcon,
.PrioriteBasse,
.PrioriteMoyenne,
.PrioriteHaute {
  font-size: 1rem !important;
}

.ReportIcon {
  padding-top: 2px;
  margin-left: 1rem;
}
