@import "../../../../../../../scss/_colors.scss";

.ResumeRequeteCreation {
  .ligne {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .texte {
    display: flex;
    flex: 2;
    text-align: left;

    &.bold {
      font-weight: bold;
    }
  }
  .titre {
    color: $application-color;
    display: flex;
    flex: 1;
  }
  .link {
    cursor: pointer;
    color: $application-color;
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
    }
  }
}
