@import "../../../../../../../scss/_colors.scss";

$spacing: 0.5rem;
$height: $spacing * 2.5;

.ResumeRequeteCreation {
  .ligne {
    display: flex;
    padding-top: $spacing;
    padding-bottom: $spacing;
  }
  .texte {
    display: flex;
    flex: 2;
    text-align: left;
    align-items: center;

    &.bold {
      font-weight: bold;
    }
  }
  .titre {
    color: $application-color;
    display: flex;
    flex: 1;
  }
  .link {
    cursor: pointer;
    color: $application-color;
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
    }
  }
}
