# Ajoute un pullSecret pour UAT5 (qui va utiliser le dépot du cloud-provider)
# Le secret lui-même a été créé à la main, il n'est pas dans les manifests.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rece-ui
spec:
  template:
    spec:
      imagePullSecrets:
        - name: pull-docker
