@import "../../../../../scss/_colors.scss";
$spacing: 0.35rem;
$height: calc($spacing * 2.5);

.ApercuReqCreationEtablissementSimplePage,
.ApercuReqCreationEtablissementPriseEnChargePage,
.ApercuReqCreationEtablissementSaisieProjetPage,
.ApercuReqCreationTranscriptionSimplePage,
.ApercuReqCreationTranscriptionPriseEnChargePage,
.ApercuReqCreationTranscriptionSaisieProjetPage {
  .OperationLocaleEnCoursEnSimple {
    margin-top: 3rem;
  }
}

.ApercuReqCreationTranscriptionSimplePage,
.ApercuReqCreationTranscriptionPriseEnChargePage,
.ApercuReqCreationTranscriptionSaisieProjetPage {
  .LigneAccordion {
    display: flex;
    min-width: 50%;
    padding-top: calc($spacing / 1.5);
    padding-bottom: calc($spacing / 1.5);
  }


  .labelAccordion {
    color: $application-color;
    white-space: nowrap;
    min-width: 130px;
    display: flex;
  }
  .texteAccordion {
    text-align: left;
  }
  .accordionTexteDouble {
    display: flex;
  }

  .contenuAccordion {
    display: flex;
    .contenuBlocAccordion {
      width: 50%; 

      .LigneAccordion {
        max-width: 100%;
        .texteAccordion {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;      
        }
      }
      }

      .contenuAccordionUnSeulElement {
        flex-basis: 100%;  
      }
  }  

  .adressRequerant {
    .LigneAccordion {
      white-space: pre;
    }
  }

  .adresseCourrielRequerant {
    display: flex;
    flex-wrap: wrap;
  }

  .AccordionTranscriptionRequerant {
    .adresseCourrielRequerant > div:nth-of-type(2) {
      .labelAccordion {
        min-width: 70px !important;
      }
     }
  }
}



.ApercuReqCreationEtablissementSimplePage,
.ApercuReqCreationEtablissementPriseEnChargePage,
.ApercuReqCreationEtablissementSaisieProjetPage {
  display: flex;
  height: 88vh;

  .FocusPieceJustificative {
    .body {
      height: 88vh;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: none;
    }
  }
}


.ApercuReqCreationTranscriptionSimplePage
 {
  display: flex;

  .boutons {
    display: flex;
    position: fixed;
    bottom: 0;
  }

  .VoletAvecOnglet {
    margin-top: 0.8rem;
    flex: 1;

    .BarreOnglet {
      .MuiButtonBase-root {
        border-radius: 0.4rem;
      }
    }
    
    .MuiTabPanel-root .ContenuVolet {
      padding: 5px 0px;
    }

    .MuiTabPanel-root {
      padding: 0.2rem 0;
    }
  }
}

.ApercuReqCreationTranscriptionPriseEnChargePage, .ApercuReqCreationTranscriptionSaisieProjetPage {
  display: flex;

  .VoletAvecOnglet {
    margin-top: 0.8rem;
    flex: 1;

    .BarreOnglet {
      border-radius: 0.4rem;      
      .MuiTabs-flexContainer .MuiButtonBase-root:last-child {
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
      }
    }

    .ContenuVolet {
      padding: 5px 0px;
    }
  }
}

.ApercuReqCreationTranscriptionPriseEnChargePage {
  display: flex;
  height: 88vh;

  .MuiTabPanel-root {
    padding: 0.2rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .ResumeRequeteCreation.body {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .ResumeRequeteCreation.component.is-open {
    flex-grow: 1;
  }
  .VoletAvecOnglet {
    flex-grow: 2;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .FocusPieceJustificative {
    .body {
      height: 88vh;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: none;
    }
  }
  .FocusPieceJustificative.component.is-open {
    flex-grow: 2;
  }
}
