@import "../../../../../sass/colors";

.etat-requete {
  border-radius: 0.25rem;
  text-align: justify;
  width: 100%;

  .bleu {
    background-color: #0579be;
  }
  .gris {
    background-color: gray;
  }
  h1 {
    background-color: $application-color;
    padding: 0.5em 1em 0.5em 1.325em;
    margin: 0em;
    color: white;
  }
  div {
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid;
    border-color: #8080805c;
    border-radius: 0 0 0.25em 0.25em;
    span {
      padding-right: 1.5em;
      &.title {
        font-weight: bold;
        padding-right: 0px;
      }
    }
  }
  .Entete {
    border-radius: 0.25em 0.25em 0 0;
    text-transform: none;
  }
}
