.PrenomsForm {  
  display: grid;
  grid-template-columns: 65% auto;

  .BlockInput {
    grid-template-columns: 30.7% auto !important;
  }
  .BlockErreur {
    margin-left: 30.7% !important;
  }
  .BoutonsConteneur {
    margin-top: -0.1rem;
  }
}
