// TODO à supprimer quand le BoutonFiche ne sera plus utilisé

.BoutonFiche {
  background-color: #0579be !important;
  color: white !important;
  font-weight: 700 !important;
  margin: 0.5rem !important;
}

.BoutonFiche:hover {
  background-color: #03476e !important;
}
