.FichePage {
    position: relative;
  .barreNavigationSuivPrec {
    position: absolute;
    top: -0.13%;
    background-color: transparent;
    width: 100%;
  }

  .BoutonSuivPrecItem {
    font-size: 2.5rem;
  }
}
