.FichePage {
  .barreNavigationSuivPrec {
    position: absolute;
    top: -0.13%;
    background-color: transparent;
    width: 100%;
  }

  .BoutonSuivPrecItem {
    font-size: 2.5rem;
  }

  .headerFichePage {
    display: flex;
    padding: 0.4rem;
    justify-content: space-around;

    .BandeauAlertesActe{
      width: 80vw;

      .BoutonAjouterAlerte {
        align-self: center;
      }

    }
    .menuMettreAJour {
      align-self: center;
    }
  }
}
