.FichePage {
  .barreNavigationSuivPrec {
    position: absolute;
    top: -0.13%;
    background-color: transparent;
    width: 100%;
  }

  .BoutonSuivPrecItem {
    font-size: 2.5rem;
  }

  .headerFichePage {
    display: flex;
    padding: 0.4rem;
    justify-content: flex-end;

    .BandeauAlertesActe{
      display: flex;
      width: 80vw;
      padding: 0px;
      margin: 0px;
      .ListeAlertes {
        display: flex;
        overflow: scroll;
        overflow-wrap: break-word;
        .CodeCouleurAlerteRouge {
          flex: 2;
          overflow: scroll;
          overflow-wrap: break-word;
          align-self: center;
        }
      }

      .BoutonAjouterAlerte {
        display: flex;
        align-self: center;
        justify-content: flex-end;
      }

    }
    .menuMettreAJour {
      align-self: center;
    }
  }
}
