@import "../../../../../../scss/colors";
.ResumeReqInfo {
  .ResumeRequeteTitle {
    display: flex;
    justify-content: space-between;
    }
  .SectionPanel {
    width: 92%;
  }
  .NumeroReqLiee {
    text-decoration: underline !important;
    cursor: pointer;
  }
  .SectionPanelAreaSeparation {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $border;
  }
}
