.ResumeReqInfo {
  .ResumeRequeteTitle {
    display: flex;
    justify-content: space-between;
    }
  .SectionPanel {
    width: 92%;
  }
  .NumeroReqLiee {
    text-decoration: underline !important;
    cursor: pointer;
  }
}
