@import "../../../../sass/colors";

.PrioriteBasse {
  color: green;
}

.PrioriteMoyenne {
  color: orange;
}

.PrioriteHaute {
  color: red;
}

.PrioriteBasse,
.PrioriteMoyenne,
.PrioriteHaute {
  font-size: 1rem !important;
}

.MuiTableBody-root {
  tr {
    &.MuiTableRow-root {
      &:hover {
        background-color: $application-hoover;
      }
    }
  }
}

table {
  &.MuiTable-root {
    border: 2px $border-array;
    border-style: solid;
  }
}

div {
  &.MuiPaper-root {
    box-shadow: none;
  }
}
