@import "../../../../../../../scss/colors";

.AlertesActes {
  background-color: $border;
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;

  .IconeBoutonAjoutAlertes {
    font-size: 2em;
    color: $alertes;
    margin-right: 0.5rem;
    cursor: pointer;

    &.Disabled {
      color: $disabled-button;
      cursor: default;
    }
  }
}
