@import "../../../../../../scss/colors";

.contenu-requete {
  margin-bottom: 5em;
  display: flex;
  .side {
    &.left {
      width: 30vw;
      min-width: 25rem;
      font-size: 0.9rem;
    }
    &.right {
      width: 70vw;
      min-width: 500px;
      margin-left: 0.5em;
    }
    display: inline-block;
  }
}

@media only screen and (max-width: 800px) {
  .contenu-requete {
    display: block;
    .side {
      &.left {
        width: 60%;
      }
      &.right {
        width: 100%;
      }
      display: inline-block;
    }
  }
}

div.MuiAccordionDetails-root {
  display:block;
  padding: 0px;
}
