.ConfirmationPopinAvecMessage {
  .MuiPaper-root {
    min-width: 540px;
    min-height: 380px;

    .messageErreur {
      color: red;
      display: inline-block;
    }

    .MuiDialogContent-root {
      label {
        display: grid;
      }
    }
  }
}
