@import "./../../../../../scss/colors";

.PopinAjouter {

  textarea {
    min-width: 40rem;
    height: 8rem;
  }
  
  .MuiDialog-paperWidthSm {
    max-width: unset;
  }
  .MuiDialogContent-root {
    padding: 0px !important;
  }

  .FormulaireAjouter {
    margin: 1em;

    .Fieldset {
      background-color: unset;
      border-style: none;

      .Titre {
        display: none;
      }

      .FormAjouterBoutons {
        float: right;
      }
    }
  }
}
