.RequerantForm {
  .BlockInput {
    display: flex;
    width: 1000px;
    justify-content: flex-start;
    input {
      width: 60%;
    }
    label {
      width: 40%;
    }

  }
  .BlockErreur {
    margin-left: 23%;
  }
  .nomRequerant {
    position: relative;
  }
  .nomUsage {
    position: relative;
  }
  .BoutonsConteneur {
    position: absolute;
    top: 0px;
    right: 150px;
  }
}