@import "../../../../../scss/colors";

.MessageInfo {
  border: 1px solid $application-color;
  border-radius: 0.25rem;
  color: #0579be;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.1rem 0.25rem;
}
