.OngletsDynamique {
  margin: 1rem 0 0 10px;
  padding-left: 1rem;
  display: inline-flex;
  button {
    height: 2rem;
    margin: 10px 10px 0 0;
    min-width: max-content;
    min-width: -moz-available;
    background-color: #0579be;
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    justify-content: space-evenly;
    span{
      line-height: 20px;
    }
    .warning{
      margin-left:10px;
      line-height: 20px
    }
    &.selected {
      background-color: #03476e;
      //   border-radius: 0 0 0 0;
    }
  }

  .documentComplementaire {
    margin: 10px 0px 0 0 !important;
    border-radius: 0.25rem 0 0 0;
  }

  .retirerDocument {
    border-radius: 0 0.25rem 0 0;
    min-width: 30px !important;
    &:hover {
      opacity: 0.7 !important
    }
  }
}
