.OngletsDynamique{
    margin: 1rem 0 0 10px;
    padding-left: 1rem;
    display: inline-flex;
    button{
        height:2rem;
        margin: 10px 10px 0 0;
        min-width: max-content;
        min-width: -moz-available;
        background-color:#0579be ;
        border-radius: 0.25rem 0.25rem 0 0;
        &.selected{
            background-color: #03476e;
        }
    }
}