.OngletsDynamique{
    display: inline-flex;
    button{
        height:2rem;
        margin: 10px 20px 10px 0;
        min-width: max-content;
        min-width: -moz-available;
        background-color:#0579be ;
        &.selected{
            background-color: #03476e;
        }
    }
}