.bloc-choix-action {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: #8080805c;
  border-radius: 0.25rem;
  border-top: 0em;
  width: 100%;
  text-align: center;
  .panel {
    background-color: #0579be;
    padding: 0.5em 1em 0.5em 1.325em;
    margin: 0em;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
  }
}
