@import "../../../../../../scss/_colors.scss";

.DateComposeForm {
  grid-template-columns: 35% 15.5% 21px 15.5% 21px 23% 2%;
}

.DateComposeFormWithDatePicker {
  grid-template-columns: 35% 15.5% 9px 15.5% 9px 23% 2% 7%;
}

.DateComposeForm-common {
  display: grid;
  label {
    align-self: center;
    color: $button-application-color;
  }

  input {
    align-self: center;
    text-align: center;
  }

  .Sep {
    margin: auto;
  }

  .SepFin {
    margin-left: 0.3rem;
  }

  button {
    min-width: auto !important;
  }
}
