
.RequerantForm {
    .nomRequerant, .nomUsage{
        display: grid;
        grid-template-columns: 65% auto;

        .BlockInput {
            grid-template-columns: 38.5% auto !important;
        }
    }
}