@use "../../../../../scss/colors" as *;

.SectionPanel {
  margin: 16px;
  width: auto;

  .SectionPanelAreaSeparation {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $border;
  }
}
