@import "../../../../../scss/colors";

.SectionPanel {
  margin: 16px;
  width: 100%;

  .SectionPanelAreaSeparation {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $border;
  }
}
