@import "../../../../../scss/colors";

.SectionPanelArea {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;

  .TitlePanelArea {
    grid-row: 1 / span 2;
    color: $title-application-color;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: -0.5rem;
  }
}

.nbColonnes2 {
  grid-template-columns: repeat(2, 49.5%);
}

.nbColonnes3 {
  grid-template-columns: repeat(3, 32%);
}
