@import "../../../../../scss/colors";

.libelleContent {
  color: $application-color;
  grid-column: 1;
}

.valueContent {
  grid-column: 2;
}

.content {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, 35% 65%);
  text-align: left;
}
