.conteneur-page-chargeur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 9999;
    background-color: rgba($color: #000000, $alpha: .1);
}