@use "../../../../../../../scss//colors" as *;

.PiecesJustificativesContainer {
  .IconePlusContainer {
    display: flex;
    margin: 15px;
    justify-content: flex-end;

    .BoutonPlus {
      display: flex;
      align-items: center;
      .IconePlus {
        color: $info-background;
        margin: 0.1em;
        gap: 2px;
      }
    }
  }
}
