@import "../../../../../../../scss/_colors.scss";

$spacing: 0.35rem;
$height: calc($spacing * 2.5);

.ResumeRequeteCreation {
  .body {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .ligne {
    display: flex;
    padding-top: calc($spacing / 1.5);
    padding-bottom: calc($spacing / 1.5);

    .erreurSdanf {
      background-color: $surlignement-sdanf;
      padding: 0rem 0.185rem;
      border-radius: 0.3rem;
    }
  }
  .itemLigneTitulaire {
    display: flex;
    flex-wrap: wrap;
  }
  .itemLigneFrancisation {
    display: flex;
    align-items: center;
  }

  .itemLigneEnfantMineur {
    display: flex;
  }
  .texte {
    display: flex;
    flex: 2;
    text-align: left;
    align-items: center;

    &.bold {
      font-weight: bold;
    }
  }
  .titre {
    color: $application-color;
    display: flex;
    flex: 1;
  }
  .separateur {
    margin: 0 0.11rem;
  }
  .link {
    cursor: pointer;
    color: $application-color;
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
    }
  }
  .infoBulle {
    display: flex;

    .icon {
      cursor: pointer;
      align-items: center;
      display: flex;

      svg {
        height: calc($height * 1.4);
        color: $application-color;
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;

    a {
      margin-right: 5px;
    }
  }


  .tagTitleAccordion {
    display: flex;
    justify-content: center;

    .title {
      flex:1;
      display: flex;
      justify-content: center;
      transform: translateX(10px)
    }

    .tagPriorisation {
      margin-left: auto
    }
  }
}
