.PopinTransfert {
  .MuiPaper-root {
    width: 600px;
  }
  .h2 {
    text-align: center;
  }

  .MuiPaper-root {
    li.MuiListItem-root {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
