.PopinTransfert {
  .h2 {
    text-align: center;
  }

  .MuiPaper-root {
    width: 600px;
    li.MuiListItem-root {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  textarea{
    width:-webkit-fill-available
  }
}
