@use "../../../../../scss/_colors.scss" as *;

.accordionTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 0.25em;
  min-height: 35px;

  &.bg-clair {
    background-color: $application-color-lighter;
  }

  .MuiAccordionSummary-content {
    display: block;
    margin: 0px;
  }

  .MuiSummaryFlex {
    display: flex;
    align-items: center;
  }

  svg {
    color: white;
  }

  .itemHidden {
    margin-right: auto;
    visibility: hidden;
  }

  .BoutonAccordionTitle {
    margin-left: 10px;
  }

  .flexAccordion {
    margin-left: auto;
    display: flex;
  }
}

.MuiAccordionSummary-root {
  min-height: 35px !important;
}

.MuiAccordionSummary-expandIcon {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
}
