@import "../../../../../scss/colors";

div.accordionTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  background-color: $application-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .MuiAccordionSummary-content {
    display: block;
    margin: 0px;
  }

  svg {
    color: white;
  }
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 42px !important;
}
