div.MuiAccordion-root.Mui-expanded {
  margin: 0px;
}

.accordionRece {
  .MuiCollapse-container {
    margin: 1px;
  }
}

.accordionContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.accordionContent {
  padding: 0.75rem
}