@import "../../../../../scss/_colors.scss";

div.accordionTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  background-color: $application-color;
  border-radius: 0.25em;
  min-height: 35px;

  &.bg-clair {
    background-color: $application-color-lighter;
  }

  .MuiAccordionSummary-content {
    display: block;
    margin: 0px;
  }

  svg {
    color: white;
  }
}

.MuiAccordionSummary-root {
  min-height: 35px !important;
}

.MuiAccordionSummary-expandIcon {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
