@import "../../../../../sass/colors";

.accordionPanelArea {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50% 50%);
  column-gap: 1rem;

  .titlePanelArea {
    grid-row: 1;
    color: $title-application-color;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    height: 1.55rem;
    grid-column: 1/3;
    margin-bottom: 1em;
  }
}
