@import "../../../../../sass/colors";

div.accordionTitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  .MuiAccordionSummary-content {
    display: block;
    margin: 0px;
  }
  background-color: $application-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

svg {
  color: white;
}
