@import "../../../../../sass/colors";

.wrapper {
  display: grid;
  grid-gap: 10px;
  align-content: start;

  .titlePart {
    grid-row: 1;
    color: $title-application-color;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    height: 1.55rem;
    margin-bottom: 1em;
  }
}

.Part2LigneSur2 {
  grid-row: 1/3;
}

.PartPremiere1LigneSur2 {
  grid-row: 1/2;
}

.PartSeconde1LigneSur2 {
  grid-row: 2/3;
}
