.boutons-action-mes-requetes-delivrance {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0 1rem;

    .bouton-saisir-requete button, .bouton-requete-suivante {
        margin: 0;
    }

    .bouton-saisir-requete {
        position: relative;

        @keyframes apparition-menu-saisir {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .menu-saisir-requete {
            position: absolute;
            z-index: 100;
            right: 0;
            top: 100%;
            background-color: var(--bleu-sombre-rece);
            border-radius: .3rem;
            overflow: hidden;
            box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
            animation: apparition-menu-saisir .25s ease;
            

            a {
                display: block;
                width: 100%;
                text-align: start;
                white-space: nowrap;
                padding: .3rem 1rem;
                color: var(--blanc-rece);
                text-decoration: none;
                transition: background-color .25s ease-in-out;

                &:hover {
                    background-color: var(--bleu-rece);
                }
            }
        }
    }
}