.menu-choix-action {
  padding: 10px;
  background-color: #05659c;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  font-family: "NotoSansUI-Bold", sans-serif;
  width: 70%;
  margin: 0.5em;
  position: relative;
  .icon-menu {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

.bloc-choix-action {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: #8080805c;
  border-radius: 0.25rem;
  border-top: 0em;
  width: 100%;
  text-align: center;
  .panel {
    background-color: #0579be;
    padding: 0.5em 1em 0.5em 1.325em;
    margin: 0em;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
  }
}
