.FormulaireSaisirExtrait {
  margin: 0;
  width: 100%;
  .StaticField {
    font-size: 1.1rem;
  }

  .AccordeonForm {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .SouligneGras {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 1rem;
  }

  .parent1 {
    margin-top: 1rem;
  }

  .DeuxColonnes {
    display: flex;
  }

  .DeuxColonnes > * {
    width: 50%;
  }
}
