@import "../../../../../../../../scss/colors";

$spacing: 0.5rem;

.ResumeRequetePartieHaute {
  padding: $spacing;

  .inline {
    display: flex;
    align-items: flex-start;
    
    > div {
      flex: 1;
    }
  }

  .multilignes {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: $spacing * -2;
    margin-right: $spacing * -2;
  }

  .ligne {
    display: flex;

    &.column {
      flex-direction: column;
    }
  }

  .texte {
    display: flex;
    flex: 2;
    text-align: left;
    align-items: center;
    padding: $spacing;

    &.bold {
      font-weight: bold;
    }
  }

  .titre {
    color: $application-color;
    display: flex;
    flex: 1;
    padding: $spacing;

    &.no-space-between {
      flex: none;
    }
  }

  .separation {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $border;
  }

  .titleTitulaire {
    color: #03476e;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: .7rem;
  }
}
