@import "../../../../../../../../scss/colors";

.ResumeRequete {
  width: 100%;

  .ResumeRequeteTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: $application-color;
    border-radius: 4px;
    padding: 0.285em 1em 0.285em 1.325em;

    .LinkNumeroRequete {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .PanelsResumeRequete .SectionPanel {
    width: 92%;
  }

  .SectionPanelArea {
    .TitlePanelArea {
      grid-row: 1;
      grid-column: 1 / span 2;
      text-align: center;
      margin-bottom: 0.1rem;
    }
    .TitlePart {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .content {
      grid-template-columns: 45% 55%;
    }
  }

  .InfoTitulaire {
    .TitlePart {
      font-size: 1rem;
      text-align: left;
    }
  }

  .PieceJustificativeContent {
    text-align: left !important;
  }
}
