@import "../../../../../../../../scss/colors";

$spacing: 0.5rem;
$min-width-container: 25rem;
$max-width-container: 30vw;

.ResumeRequetePartieHaute {
  padding: $spacing;
  font-size: 0.9rem;

  .inline {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
    > div {
      flex: 1;
    }
  }

  .multilignes {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: $spacing * -1;
  }

  .ligne {
    display: flex;

    &.column {
      flex-direction: column;
    }
  }

  .texte {
    display: flex;
    flex: 2;
    text-align: left;
    align-items: center;
    padding: $spacing;

    > span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: calc(#{$min-width-container} / 2 - #{$spacing} * 8);
      max-width: calc(#{$max-width-container} / 2 - #{$spacing} * 8);
    }

    &.bold {
      font-weight: bold;
    }
  }

  .titre {
    color: $application-color;
    display: flex;
    flex: 1;
    padding: $spacing;

    &.no-space-between {
      flex: none;
    }
  }

  .titleTitulaire {
    color: #03476e;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: .7rem;
  }

  .separation {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $border;
  }
}
