@import "../../../../../../../../scss/colors";

.ResumeRequete {

  .ResumeRequeteTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: $application-color;
    border-radius: 4px;
    padding: 0.285em 1em 0.285em 1.325em;

    .LinkNumeroRequete {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .PieceJustificativeContent {
    text-align: left !important;
  }
}
