@import "../../../../../../../../scss/colors";

.ResumeRequete {
  .ResumeRequeteTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: $application-color;
    border-radius: 4px;
    padding: 0.285em 1em 0.285em 1.325em;

    .LinkNumeroRequete {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .separation {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $border;
  }

  .PieceJustificativeContent {
    text-align: left !important;
  }

  .iconModifierRequete {
    margin-right: 0.3em;
  }
}

.TypeRequete {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: $border;
  border-radius: 0.25rem;
  border-top: 0em;
  width: 100%;

  .title {
    height: 2.5em !important;
    background-color: $application-color;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
    svg {
      color: white;
    }

    span {
      text-align: justify;
    }
  } 
}
