@import "../../../../../scss/colors";

.EditionExtraitCopie{
    text-align: start;
    .contenu-edition {
        display: flex;
        .side {
            &.Visualisation {
            width: 50%;
            }
            &.Edition {
            width: 50%;
            text-align: right;
            }
            display: inline-block;
        }
        .VoletAvecOnglet{
            .TitreVolet {
                color: $application-color ;
                font-size: 1rem;
                text-align: left;
            }
            .ContenuVolet{
                height: 820px;
                overflow-y: auto;
                overflow-x: hidden;
                iframe{
                    height:800px;
                }
            }
            .MuiTabPanel-root {
                padding: 10px;
            }
        }

        .Separateur{
            background-color: grey;
            width: 1px;
            height: 40rem;
            margin: 10rem 1rem;
        }
    }


}