.conteneur-modale {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgba($color: #000000, $alpha: .4);
    z-index: 1000;
    padding: 1rem;

    @keyframes apparition-modale {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    animation: apparition-modale .25s, ease;
}