@import "../../../../../../../scss/colors";

.RequerantForm {
  .BlockInput {
    grid-template-columns: 20% 80%;
  }
  .BlockErreur {
    margin-left: 20%;
  }
  .RequerantSousForm {
    .BlockInput {
      grid-template-columns: 20% 40%;
    }
  }
}
