
.page-edition-requete-mise-a-jour {
    padding: 2rem 0;
    display: flex;
    gap: 1rem;

    .partie-acte-requete {
        width: 40%;
    }

    .partie-formulaire {
        width: 60%;
    }
}
