.PopinNouvelleRMCRequete {
  margin: 0;
  padding: 0%;
  .h2 {
    text-align: center;
  }

  .CloseButtonNouvelleRMCRequete {
    float: right;
  }

  .MuiDialog-paperWidthSm {
    max-width: 100%;
  }

  .MuiDialogTitle-root {
    padding: 0;
  }

  .MuiDialogContent-root {
    padding: 8px;

    .Formulaire {
      margin: 0;
    }
  }
}
