.RMCRequetesAssocieesResultats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  table.MuiTable-root {
    border: 1px #8080805c;
    border-right-style: none;
    border-left-style: none;
  }

  .MuiTablePagination-root {
    order: 2;
  }

  .ToolbarBottom {
    order: 1;
  }
}
