.conteneur-formulaire {
    border: var(--bleu-sombre-rece) 1px solid;
    border-radius: .25rem;
    overflow: hidden;
    background-color: var(--gris-clair-rece);
    width:100%;

    .titre-conteneur-formulaire {
        font-size: 1rem;
        margin: 0;
        padding: .3rem;
        color: var(--blanc-rece);
        background-color: var(--bleu-sombre-rece);
        font-weight: bold;
    }

    .contenu-conteneur-formulaire {
        padding: 1.5rem 0;
        width: 90%;
        margin: 0 auto;
    }
}