@import "../../../../../scss/colors";

$largeur-libelle: 35%;
$largeur-block-input: 65%;

.TitreFiltre {
  background-color: $application-color;
  padding: 0.2em 1em 0.2em 1.325em;
  margin: 0em;
  border-radius: 0.25em 0.25em 0 0;
  font-weight: bold;
  color: white;
  text-align: center;
}

.FormFiltre {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  .BlockInput {
    grid-template-columns: $largeur-libelle $largeur-block-input;
  }
  .BlockInput.DeuxInputs {
    grid-template-columns: $largeur-libelle calc($largeur-block-input / 2) calc($largeur-block-input / 2);
  }
  .BlockErreur {
    margin-left: $largeur-libelle;
  }

  .nomEtPrenom {
    position: relative;

    .BtnNomPrenom {
      position: absolute;
      top: 20%;
      right: -6.5%;
      color: #0579be;
      transform: rotate(90deg);
    }
  }
}

.containerRappelTitulaire {
  display: flex;
  justify-content: flex-end;
}
