@import "../../../../../scss/colors";

.TitreFiltre {
  background-color: $application-color;
  padding: 0.2em 1em 0.2em 1.325em;
  margin: 0em;
  border-radius: 0.25em 0.25em 0 0;
  font-weight: bold;
  color: white;
  text-align: center;
}

.FormFiltre {
  margin: 1.5rem 1.5rem 0 1.5rem;
  .BlockInput {
    grid-template-columns: 35% 65%;
  }
  .BlockErreur {
    margin-left: 35%;
  }
}
