@use "../../../../../scss/colors" as *;

.DetailRequetePage {
  .DetailRequeteTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: $application-color;
    border-radius: 4px;
  }

  .SectionPanelArea {
    .TitlePanelArea {
      grid-row: 1;
      grid-column: 1 / span 2;
      text-align: center;
      margin-bottom: 0.1rem;
    }
    .TitlePart {
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
}
