@import "../../../../sass/colors";

.DetailRequetePage {
  margin: 1.5rem 5rem;

  .DetailRequeteTitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: $application-color;
    border-radius: 4px;
  }

  .PanelsDetailRequete {
    display: grid;
    grid-template-columns: 66% 33%;
    .SectionPanel:nth-child(2) {
      border-left: 2px solid $border-array;
      padding-left: 2rem;
      margin: 4rem 0;
    }
  }

  .SectionPanelArea {
    .TitlePanelArea {
      grid-row: 1;
      grid-column: 1 / span 2;
      text-align: center;
      margin-bottom: 0.1rem;
    }
    .TitlePart {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .content {
      grid-template-columns: 45% 55%;
    }
  }
}
