.MenuAction {
  width: 40%;
  button {
    width: 100%;
    position: relative;
  }
  .icon-menu {
    position: absolute;
    top: 6px;
    right: 5px;
  }
  .retirerDocument {
    border-radius: 0 0.25rem 0 0;
  }
}
