.SaisirRCTCPage {
  margin: 1.5rem 8rem;

  .FormulaireSaisirRCTC {
    .BlockInput {
      grid-template-columns: 25% 40%;
    }
    .BlockErreur {
      margin-left: 25%;
    }

    .PrenomsForm {
      .BlockInput {
        grid-template-columns: 38.3% auto !important;
      }

      .BlockErreur {
        margin-left: 38.3% !important;
      }
    }
  }

  .Date {
    display: grid;
    grid-template-columns: 47.1% auto !important;
    .DateEvenement {
      .DateComposeForm {
        grid-template-columns: 53% 10% 9px 10% 9px 14% 2%;
      }
      .BlockErreur {
        margin-left: 53%;
      }
    }
  }
}
