@import "../../../../../scss/colors";

.resume-requete {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: $border;
  border-radius: 0.25rem;
  border-top: 0em;
  width: 100%;

  .title {
    height: 2.5em !important;
    background-color: $application-color;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
    svg {
      color: white;
    }

    span {
      text-align: justify;
    }

    .identifiantRequete {
      margin-left: 3em;
    }
  }
}

.extrait {
  height: 100%;
  border-radius: 0.25rem;
  text-align: justify;
  width: 100%;
  .Panel {
    background-color: $application-color;
    padding: 0.5em 1em 0.5em 1.325em;
    margin: 0em;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
  }
}
