.VisionneuseDocument {
  iframe {
    width: 99%;
    height: 850px;
    margin: 0.25rem;
  }
  p {
    width: 99%;
    height: 800px;
    line-height: 800px;
    margin: 0.25rem;
    text-align: center;
  }
}
