.divFormulaire {
  display: flex;
  width: 100%;
}

.ListesTypesMentionForm {
  flex: 3;
}

.boutons-mention {
  flex: 1;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;
}

.selectFieldMentions {
  margin-top: 1em;
}

.selectFieldMentions > .InputField > .BlockInput {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2em;
}

.selectFieldMentions > .InputField > .BlockInput > .SelectField {
  width: 100%;
}

.selectFieldMentions > .InputField > .BlockInput > .label{
  width: 35px
}

.selectFieldMentions > .InputField > .BlockInput > textarea {
  width: 90%;
  margin: 0;
}

.selectFieldMentions > .InputField > .BlockErreur {
  margin: 0.3em;
}

.boutonActualiserVisualiser {
  margin-top: 1em;
  margin-left: 4em;
  display: flex;
  justify-content: start;
}