@use "../../../../../../../../scss/colors" as *;

.documents-reponses {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: $border;
  border-radius: 0.25rem;
  border-top: 0em;
  width: 100%;

  .title {
    height: 2.5em !important;
    background-color: $application-color;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
    svg {
      color: white;
    }

    span {
      text-align: justify;
    }
  }

  ul {
    height: 8rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    div.RECE {
      span {
        color: $error-icon-color;
      }
    }
  }

  .documentReponse {
    &.selected {
      background-color: #9bcbe7 !important;
    }

    &:hover {
      cursor: pointer;
      background-color: $application-hoover !important;
    }

    &.Mui-selected,
    &.Mui-selected:hover {
      background-color: $button-application-color !important;
      color: white;

      .MuiTypography-colorTextSecondary {
        color: white !important;
      }
    }
    &.MuiListItem-root {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
