$spacing: 0.5rem;

.NomsForm{
  display: grid;
  grid-template-columns: 72% auto;

  .InputFieldMajuscule {
    grid-template-columns: 90.25% auto;
  }
  .BoutonsConteneur {
    margin-top: $spacing * -1;
    padding-left: $spacing;
    padding-right: $spacing;
  
    button {
      margin: $spacing;
    }
  }
}
