@use "../../../../../scss/colors" as *;

.historique-actions {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: $border;
  border-radius: 0.25rem;
  border-top: 0em;
  width: 100%;

  .title {
    background-color: $application-color;
    color: white;
    font-weight: bold;
    border-radius: 0.25em 0.25em 0 0;
    svg {
      color: white;
    }

    span {
      text-align: justify;
    }
  }

  ul {
    width: auto;
    height: 5.2rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    margin-left: 1em;
    div.RECE {
      span {
        color: $error-icon-color;
      }
    }
  }

  .Observation {
    display: inline;
    cursor: pointer;
  }

  .IconeSupprimer {
    margin-left: 5px;
    cursor: pointer;
  }
}
