@import "../../../../../../../../scss/colors";

.Mention {

  .Header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    span {
      margin-block-start: 1.09em;
    }
  }
  .FormMention {
    textarea {
      height: 100px !important;
      width: 100%;
      overflow-y: auto !important;
      padding: 4px;
      box-sizing: border-box;
    }

    .SelectNature {
      display: flex;
      flex-direction: inherit;
      justify-content: space-between;
      padding: 0 1rem 0 0;
      width: auto;

      label {
        display: flex;
        align-self: center;
        margin-right: 10px;
      }
    }

    &.Modification {
      .SelectModif {
        display: flex;
        width: 100%;
        margin-bottom: 5px;
      }
    }

    &.Ajout {
      .SelectAjout {
        display: flex;
        width: 100%;
        margin-bottom: 5px;

        .ConteneurBouton {
          display: flex;
          justify-self: flex-start;
          button {
            width: 30px;
            border-radius: 50px;
            background-color: $application-color;
            font-size: 1.7rem;
            padding: 0 0 0 0;
            margin: auto;
            &:disabled {
              background-color: grey;
            }
          }
        }
      }
    }
  }
}
