@import "../../../../../../../../scss/colors";

.Mention {
  .Deverouillage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
      display: flex;
      input {
        margin-right: 10px;
      }
    }
    svg {
      vertical-align: middle;
      color: red;
      height: 100%;
    }
  }

  .Header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    span {
      margin-block-start: 1.09em;
    }
  }
  .FormMention {
    textarea {
      height: 100px !important;
      width: 100%;
      overflow-y: auto !important;
      padding: 4px;
      box-sizing: border-box;
    }

    .SelectNature {
      display: flex;
      flex-direction: inherit;
      justify-content: space-between;
      padding: 0 1rem 0 0;
    }

    &.Modification {
      .SelectModif {
        display: inline-grid;
        grid-template-columns: 30% 40%;
        width: 100%;
        margin-bottom: 5px;
        line-height: 30px;
      }
    }

    &.Ajout {
      .SelectAjout {
        display: inline-grid;
        grid-template-columns: 30% 40%;
        width: 100%;
        margin-bottom: 5px;
        line-height: 30px;

        .ConteneurBouton {
          display:flex;
          justify-self: flex-start;
          button {
            width: 30px;
            line-height: 30px;
            border-radius: 50px;
            background-color: $application-color;
            font-size: 2rem;
            padding: 0 0 0 0;
            margin:auto;
            &:disabled {
              background-color: grey;
            }
          }
        }
      }
    }
  }
}
