@use "./../../../../../../scss/colors" as *;

.IgnoreRequetePopin {
  margin: 1em;

  .Fieldset {
    background-color: unset;
    border-style: none;

    .Titre {
      display: none;
    }

    .FormAjouterBoutons {
      float: right;
    }
  }
}
