.TexteLibreForm {
  .BlockInput {
    grid-template-columns: 20% 80%;
    label {
      align-self: flex-start;
    }
  }
  .BlockErreur {
    margin-left: 20%;
  }
  textarea {
    cursor: auto;
  }
}
