@import "../../../../../scss/colors";

.ResumeRequeteV2 {
  width: 100%;

  .ResumeRequeteTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: $application-color;
    border-radius: 4px;
    min-height: 42px !important;
    span {
      margin-top: 0.2rem;
      display: inline-block;
      text-align: center;
    }

    .LinkNumeroRequete {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .PanelsResumeRequete {
    display: grid;
    grid-template-columns: 66% 33%;
    .SectionPanel:nth-child(2) {
      border-left: 2px solid $border-array;
      padding-left: 2rem;
      margin: 4rem 0;
    }
  }

  .SectionPanelArea {
    .TitlePanelArea {
      grid-row: 1;
      grid-column: 1 / span 2;
      text-align: center;
      margin-bottom: 0.1rem;
    }
    .TitlePart {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .content {
      grid-template-columns: 45% 55%;
    }
  }

  .InfoTitulaire {
    .TitlePart {
      font-size: 1rem;
      text-align: left;
    }
  }

  .PieceJustificativeContent {
    text-align: left !important;
  }
}
