@import "../../../../../../scss/colors";

.headerOngletDelivrance {
  margin-top: 1em;
  background: none !important;

  .ongletDelivrance {
    a {
      background-color: $application-color;
      opacity: 1 !important;
    }
    a.Mui-selected {
      cursor: default;
    }
    a.Mui-disabled {
      background-color: $disabled-button;
      cursor: not-allowed;
    }
    .MuiTabs-indicator {
      width: 50% !important;
      background-color: lightgreen !important;
    }
  }
}

.TabPanel {
  margin: 2rem 0;
  > div {
    padding: 0 0.5rem;
  }
}

.BlocBoutons {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0 1rem;
}
