.TitulaireEvenementForm {
  padding-left: 1rem;
  padding-top: 1rem;

  .BlockInput {
    grid-template-columns: 20% 45%;
  }
  .BlockErreur {
    margin-left: 20%;
  }

  .DateComposeForm {
    grid-template-columns: 20% 11% 21px 11% 21px 17.7% 20px 10% 20px 10% 20px;
  }
}
