.FormulaireRMCAI {
  .titulaire {
    grid-column: 1;
    grid-row: 1;
  }

  .datesDebutFinAnnee {
    grid-column: 1;
    grid-row: 2;
  }

  .registreArchive {
    grid-column: 2;
    grid-row: 1 / span 2;
    .BlockInput,
    .DateComposeForm {
      margin-bottom: 2.4rem;
    }
  }
  .BtnNomPrenom {
    margin: 0 30% 2%;
    width: 40%;
  }
}
