@import "../../../../../../../scss/colors";

.AlertesActes {
  margin-top: 0.5em;
  border: 1px solid;
  border-color: $border;
  border-radius: 0.25rem;
  text-align: justify;
  font-family: "NotoSansUI-Regular", sans-serif !important;
  font-size: 14px;
  font-weight: 400;

  .Liste {
    height: 8em;
    overflow-x: hidden;
    overflow-y: auto;

    .Alertes {
      display: flex;
      padding: 0.5rem;

      .BoutonAjouterAlertes {
        order: 2;
        margin-left: auto;

        .IconeBoutonAjoutAlertes {
          font-size: 2em;
          color: $alertes;
          cursor: pointer;
        }
      }
    }

    .SeparateurAlertes {
      border-top: 1px solid $border;
    }
  }
}
