@import "../../../../../sass/colors";

.resume-requete-content {
  text-align: justify;
  padding: 0.5em 1em 0.5em 1em;
  border-top: 1px solid;
  border-color: $border-array;

  .bloc-info {
    div {
      &.label {
        width: 55%;
        color: $application-color;
        vertical-align: top;
      }

      &.sub-label {
        color: $application-libelle;
      }

      &.personnal-info {
        width: 45%;
      }
      display: inline-block;
    }
    .no-justify-info {
      text-align: left;
    }
  }

  .bloc-titulaire {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
