
.contneur-bouton {
    text-align: start;
    padding-left: 1rem;
    position: sticky;
    bottom: 2rem;
}


.bouton-prenom {
    width:12rem;
    margin:0 0.5rem;
}


.input-analyse-marginale { 
    min-width: 90%;
    padding: 0.15rem;
}

.sans-padding-top {
    padding-top:0 !important // A retirer dans le sprint 75 (En attente tailwind ou meilleur sélecteur css)
}
