.FormulaireSaisirRDC,
.FormulaireSaisirRDAPC,
.FormulaireSaisirRDCSC {
  margin: 1.5rem 8rem;
}

.FormulaireSaisirRDCSC {
  .DocumentInput {
    margin: 1.5rem 2.5rem;
    .BlockInput {
      grid-template-columns: 20% 45%;
    }
    .BlockErreur {
      margin-left: 20%;
    }
  }
}

.FormulaireSaisirRDC {
  .EvenementForm {
    .DateLieu {
      .DateComposeForm,
      .BlockInput {
        margin: 0;
      }
    }
    .BlockInput {
      grid-template-columns: 20% 45%;
    }
  }
}
