@import "../../../../../scss/colors";

.AlertesActes {
  background-color: $border;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  .AjouterAlertes {
    margin-left: auto;
    .IconeBoutonAjoutAlertes {
      font-size: 2em;
      color: $alertes;
      margin-right: 0.5rem;
      cursor: pointer;

      &.Disabled {
        color: $disabled-button;
        cursor: default;
      }
    }
  }

  .ListeAlertes {
    .CodeCouleurAlerteRouge {
      color: $code-couleur-alertes-rouge;
    }
    .CodeCouleurAlerteOrange {
      color: $code-couleur-alertes-orange;
    }
    .CodeCouleurAlerteVert {
      color: $code-couleur-alertes-vert;
    }
    .CodeCouleurAlerteNoir {
      color: $code-couleur-alertes-noir;
    }
  }
}
