@import "../../../../../scss/colors";

.BandeauAlertesActe {
  border: 1px solid;
  border-color: $border;
  border-radius: 0.25em;
  display: flex;
  text-align: justify;
  padding: 0.5rem;

  .BoutonAjouterAlerte {
    order: 2;
    margin-left: auto;

    .IconeBoutonAjoutAlerte {
      font-size: 2em;
      color: $alertes;
      cursor: pointer;

      &.Disabled {
        color: $disabled-button;
        cursor: not-allowed;
      }
    }
  }
}
