@import "../../../../../scss/colors";

.Bandeau {
  background-color: $bandeau-color;
  padding: 0.5rem;

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.2rem 1rem;
  }

  .LigneNumeroRcRcaPacs {
    font-weight: 700;
    & div:first-child {
      flex-grow: 1.7;
      text-align: end;
    }
    & div:last-child {
      flex-grow: 1;
      text-align: end;
    }
    font-size: 1rem;
    .statusFiche {
      font-size: 1rem;
    }
  }

  .LigneNumeroActe {
    font-weight: 700;
    text-align: center;
    display: block;
  }

  .LignePrenomNom {
    flex-grow: 1;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: start;
  }

  .LigneAlertes > div {
    flex-grow: 1;
    font-size: 0.9rem;
    text-align: end;
  }

  .IconeAlertes {
    color: $alertes;
    margin-right: 0.5rem;
  }

  .LigneDates {
    div {
      flex-grow: 1;
    }
    & div:first-child {
      text-align: start;
    }
    & div:last-child {
      text-align: end;
    }
  }
}
