@import "../../../../../scss/colors";

.Bandeau {
  background-color: $bandeau-color;
  padding: 0.5rem;

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.2rem 1rem;
  }

  .LigneNumero {
    & div:first-child {
      flex-grow: 1.7;
      text-align: end;
    }
    & div:last-child {
      flex-grow: 1;
      text-align: end;
    }
    font-size: 22px;
  }

  .LigneNumeroActe {
    justify-content: center;
    font-size: 22px;
  }

  .statusFiche {
    font-size: 20px;
  }

  .LignePrenomNom {
    font-size: 20px;
  }

  .LignePrenomNom,
  .LigneDates {
    div {
      flex-grow: 1;
    }
    & div:first-child {
      text-align: start;
    }
    & div:last-child {
      text-align: end;
    }
  }

  .alertes {
    font-size: 18px;
  }

  .InfoImportante {
    font-weight: 700;
    text-align: center;
    display: block;
  }

  .IconeAlertes {
    color: $alertes;
    margin-right: 0.5rem;
  }
}
