.page-edition-requete-delivrance {
    padding: 2rem 0;
    display: flex;
    gap: 1rem;

    .volet-acte-requete {
        width: 40%;

        .volet-requete {
            padding: 1rem 0;
            display: grid;
            gap: .5rem;

            .actions-requete {
                padding: 1rem;
                text-align: start;
                display: grid;
                gap: .2rem;
            }
        }
    }

    .volet-documents {
        width: 60%;

        .conteneur-bouton-ajout {
            position: relative;

            .onglet-bouton.bouton-ajout-document {
                min-width: unset;
                width: 4rem;
                display: grid;
                place-content: center;
            }

            @keyframes apparition-menu-ajout {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            .menu-ajout-document {
                position: absolute;
                z-index: 1000;
                left: 0;
                top: 100%;
                background-color: var(--bleu-sombre-rece);
                border-radius: .3rem;
                overflow: hidden;
                box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
                animation: apparition-menu-ajout .25s ease;

                .bouton-menu-ajout {
                    display: block;
                    width: 100%;
                    text-align: start;
                    white-space: nowrap;
                    padding: .3rem 1rem;
                    color: var(--blanc-rece);
                    text-decoration: none;
                    transition: background-color .25s ease-in-out;
                    margin: 0;
                    border-radius: 0;
                    font-family: "NotoSansUi-Regular", sans-serif;
                    text-transform: none;

                    &:hover {
                        background-color: var(--bleu-rece);
                    }
                }
            }
        }
        
    }

    .volet-edition {
        display: none;
        padding: 1rem 0;
        gap: .5rem;

        &.volet-actif {
            display: grid;
        }
    }
}