body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blanc-rece: #ffffff;
  --bleu-rece: #0579be;
  --bleu-sombre-rece: #03476e;
  --gris-rece: #cccccc;
  --gris-clair-rece: #f5f5f5;
  --gris-sombre-rece: #888888;
  --rouge-erreur: #f44336;
}