$error: #611a15;
$error-formulaire: #c11c10;
$error-background: #fdecea;
$error-icon-color: #f44336;
$success: #1e4620;
$success-background: #edf7ed;
$success-icon-color: #4caf50;
$warning: #663c00;
$warning-background: #fff4e5;
$warning-icon-color: #ff9800;
$info: #0d3c61;
$info-background: #e8f4fd;
$info-icon-color: #2196f3;
$application-color: #0579be;
$title-application-color: #03476e;
$application-hoover: #0579be78;
$border: #8080805c;
$application-contener: #7fb0f9;
$application-libelle: #595959;
$alertes: #b22222;
$bandeau-color: #ffd966;

//Bouton
$button-application-color: #03476e;
$disabled-button: #4b4b4bde;
$border-focus: #f99a05;
$button-danger: #bd2121;
$button-danger-hover: #dd2020;

// Formulaire
$form-background: #f5f5f5;
$form-input-disabled-bg: #dedede;
$form-input-disabled-color: #2b2b2b;
$form-border-input-disabled: #dedede;
$form-titre-background: #cccccc;

// Priorité requete
$priorite-basse: #206e22;
$priorite-moyenne: #f99a05;
$priorite-haute: #dd2020;

// Codes couleur Alertes
$code-couleur-alertes-rouge: #dd2020;
$code-couleur-alertes-orange: #f99a05;
$code-couleur-alertes-vert: #206e22;
$code-couleur-alertes-noir: #000000;
