@import "./colors";
$application-font-family: "NotoSansUI-Regular";

/*@font-face {
  font-family: "NotoSansUI-Regular";
  src: url("../fonts/NotoSansUI-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansUI-Bold";
  src: url("../fonts/NotoSansUI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

body {
  li {
    list-style: none;
    svg {
      vertical-align: middle;
    }
  }
}

html {
  font-size: 13.5px;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

a {
  button {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

input,
textarea {
  font-family: "NotoSansUI-Regular", sans-serif;
}

.BoutonRetour {
  float: left;
}

button,
Button,
.Bouton {
  margin: 0.5rem;
  padding: 0.3rem;
  background: $button-application-color;
  overflow: hidden;
  min-width: 4vw;
  color: white;
  font-family: "NotoSansUI-Bold", sans-serif;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-box-direction: normal;
  text-decoration: none;

  &:disabled {
    background-color: $disabled-button;
    pointer-events: none;
    &:focus,
    &:hover {
      background-color: $disabled-button;
      box-shadow: none;
    }
    cursor: default;
  }

  &:link {
    outline-style: none;
  }

  &:hover {
    background-color: $application-color;
    box-shadow: 0 0 0 2px $border-focus;
  }
}

.BoutonDanger {
  background: $button-danger;
  &:focus,
  &:hover {
    background-color: $button-danger-hover;
    box-shadow: 0 0 0 2px $border-focus;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  text-align: left;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.575em;
  color: #03476e;
  font-weight: 500;
}

h3 {
  color: #0579be;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.0625em;
}

h4 {
  color: #0579be;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 0.6725em;
}

legend {
  font-size: 0.6725em;
  margin: 0.525em;
}

p {
  text-align: justify;
}

option {
  font: 400 13.3333px Arial, sans-serif;
}

select,
textarea {
  padding: 0.5em 2.5em 0.5em 0.2em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #c8c8c8;
  border-radius: 4px;

  cursor: pointer;

  &:disabled {
    border-color: $form-border-input-disabled;
    background-color: $form-input-disabled-bg;
    cursor: default;
  }
}

select {
  padding: 0.5em 2.5em 0.5em 0.2em;
  background-image: url(../img/expand-close.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}

textarea {
  padding: 0.2em 1em 0.5em 0.5em;
  font-size: 0.9rem;
  cursor: auto;
  height: auto;

  &:disabled {
    cursor: pointer;
  }
}

.FormContent {
  color: #232425;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f4f4f4;
  border-radius: 0.3em;
  padding: 0.45em;
  position: relative;
}

.error {
  color: $error;
  background-color: $error-background;
}

.toast {
  background-color: #ffffff;
  left: 50%;
  position: fixed;
  padding: 1em;
  max-height: calc(-56px + 100vh);
  border-style: solid;
  z-index: 999;
  top: 75px;
  outline: currentColor none 0px;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  border-width: 1px;
}

.capital {
  text-transform: capitalize;
}

.MuiBreadcrumbs-li a,
.MuiBreadcrumbs-li div {
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
}

.LinkFilAriane {
  color: $title-application-color !important;
  &:hover {
    background-color: $button-application-color;
    cursor: pointer;
    color: white !important;
  }
}

.TextFilAriane {
  color: $title-application-color !important;
  &:hover {
    cursor: default;
  }
}

.MuiBreadcrumbs-root {
  margin: 1em 0 0 0 !important;
}

th {
  span {
    &:focus {
      border-style: dotted;
      border-color: grey;
      border-width: 0.1rem;
    }
  }
}

.nom {
  text-transform: uppercase;
}

.prenom,
.ville,
.pays,
.region {
  text-transform: lowercase;
  text-transform: capitalize;
}
///////////////////////////////////////////////
// Material UI
///////////////////////////////////////////////
.MuiTypography-body1,
.MuiTypography-body2 {
  font-family: "NotoSansUI-Regular", sans-serif !important;
}

.MuiTypography-body1 {
  font-size: 0.9rem !important;
}

.MuiTypography-body2 {
  font-size: 0.8rem !important;
}

.MuiExpansionPanelSummary-root {
  min-height: auto !important;
}

.MuiDialogContentText-root {
  color: black !important;
}

.MuiList-root {
  width: 100%;
}

.MuiList-padding {
  padding: 0 !important;
}

.MuiIconButton-root {
  padding: 9px !important;
}

.MuiMenuItem-root {
  padding-top: 4.5px !important;
  padding-bottom: 4.5px !important;
}

.BarreOnglet,
.ongletDelivrance,
.ongletInformation {
  .MuiButtonBase-root {
    background-color: $application-color !important;
    color: white !important;
    opacity: 1 !important;
    padding: 0 1rem !important;
    font-size: 13px !important;
    &:hover {
      opacity: 0.7 !important;
    }
    .MuiTab-wrapper {
      font-family: "NotoSansUI-Bold", sans-serif;
    }
  }

  .MuiButtonBase-root.Mui-selected {
    background-color: $button-application-color !important;
  }
}
