@import "./colors";
$application-font-family: "NotoSansUI-Regular";

/*@font-face {
  font-family: "NotoSansUI-Regular";
  src: url("../fonts/NotoSansUI-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansUI-Bold";
  src: url("../fonts/NotoSansUI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

html {
  font-size: 13.5px;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

a {
  button {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

input,
textarea {
  font-family: "NotoSansUI-Regular", sans-serif;
}

.BoutonRetour {
  float: left;
}

button,
Button,
.Bouton {
  margin: 0.5rem;
  padding: 0.3rem;
  background: $button-application-color;
  overflow: hidden;
  min-width: 4vw;
  color: white;
  font-family: "NotoSansUI-Bold", sans-serif;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-box-direction: normal;
  text-decoration: none;

  &:disabled {
    background-color: $disabled-button;
    pointer-events: none;
    &:focus,
    &:hover {
      // background-color: $disabled-button; => provoque un entourage gris persistant sur les boutons précédents et suivants dans la navigation tableau lorsqu'on arrive en début ou en fin de pagination
      box-shadow: none;
    }
    cursor: default;
  }

  &:link {
    outline-style: none;
  }
}

.BoutonDanger {
  background: $button-danger;
  &:focus,
  &:hover {
    background-color: $button-danger-hover;
    box-shadow: 0 0 0 2px $border-focus;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  text-align: left;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.575em;
  color: #03476e;
  font-weight: 500;
}

h3 {
  color: #0579be;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.0625em;
}

h4 {
  color: #0579be;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 0.6725em;
}

legend {
  font-size: 0.6725em;
  margin: 0.525em;
}

p {
  text-align: justify;
}

option {
  font: 400 13.3333px Arial, sans-serif;
}

select,
textarea {
  padding: 0.2em 0.5em 0.2em 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #c8c8c8;
  border-radius: 3px;

  cursor: pointer;
  
  &:disabled {
    border-color: $form-border-input-disabled;
    background-color: $form-input-disabled-bg;
    cursor: default;
  }
}

select {
  padding: 0.38em 2.5em 0.38em 0.2em;
  width: 100%;
  background-color: #fff;
}

textarea {
  font-size: 0.9rem;
  cursor: auto;
  height: auto;

  &:disabled {
    cursor: pointer;
  }
}

.FormContent {
  color: #232425;
  font-family: "NotoSansUI-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f4f4f4;
  border-radius: 0.3em;
  padding: 0.45em;
  position: relative;
}

.error {
  color: $error;
  background-color: $error-background;
}

.toast {
  background-color: #ffffff;
  left: 50%;
  position: fixed;
  padding: 1em;
  max-height: calc(-56px + 100vh);
  border-style: solid;
  z-index: 999;
  top: 75px;
  outline: currentColor none 0px;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  border-width: 1px;
}

.capital {
  text-transform: capitalize;
}

.MuiBreadcrumbs-li a,
.MuiBreadcrumbs-li div {
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
}

.LinkFilAriane {
  color: $title-application-color !important;
  &:hover {
    background-color: $button-application-color;
    cursor: pointer;
    color: white !important;
  }
}

.TextFilAriane {
  color: $title-application-color !important;
  &:hover {
    cursor: default;
  }
}

.MuiBreadcrumbs-root {
  margin: 1em 0 0 0 !important;
}

th {
  span {
    &:focus {
      border-style: dotted;
      border-color: grey;
      border-width: 0.1rem;
    }
  }
}

.nom {
  text-transform: uppercase;
}

.prenom,
.ville,
.pays,
.region {
  text-transform: lowercase;
  text-transform: capitalize;
}
///////////////////////////////////////////////
// Material UI
///////////////////////////////////////////////
.MuiTypography-body1,
.MuiTypography-body2 {
  font-family: "NotoSansUI-Regular", sans-serif !important;
}

.MuiTypography-body1 {
  font-size: 0.9rem !important;
}

.MuiTypography-body2 {
  font-size: 0.8rem !important;
}

.MuiExpansionPanelSummary-root {
  min-height: auto !important;
}

.MuiDialogContentText-root {
  color: black !important;
}

.MuiList-root {
  width: 100%;
}

.MuiList-padding {
  padding: 0 !important;
}

.MuiIconButton-root {
  padding: 9px !important;
}

.MuiMenuItem-root {
  padding-top: 4.5px !important;
  padding-bottom: 4.5px !important;
}

// Chargé en dynamique et donc nécessaire de les précharger ici pour les fenêtres externes
.MuiTableCell-root {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgb(224, 224, 224);
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.MuiAutocomplete-noOptions {
  color: rgba(0, 0, 0, 0.6);
  padding: 14px 16px;
}

.MuiPaper-root  {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  overflow: auto;
}

.MuiAutocomplete-listbox {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  max-height: 40vh;
  overflow: auto;
}

.MuiAutocomplete-option.Mui-focused {
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiAutocomplete-listbox .MuiAutocomplete-option {
  min-height: auto;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-top: 1px !important;
  box-sizing: border-box;
  outline: 0;
  padding-bottom: 1px !important;
  padding-left: 16px;
  padding-right: 16px;
}

// MuiAlert utilisé par MessageManager pour englober un message Toastify
//   (chargé en dynamique et donc nécessaire de les précharger ici pour les fenêtres externes)
.MuiAlert-root {
  display: flex;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  background-color: transparent;
}

.MuiAlert-standardError {
  color: rgb(97, 26, 21) !important;
  background-color: rgb(253, 236, 234) !important;
}


.MuiAlert-standardError .MuiAlert-icon {
  color: #f44336;
}

.MuiAlert-icon {
  display: flex;
  opacity: 0.9;
  padding: 7px 0;
  font-size: 22px;
  margin-right: 12px;
}


.MuiTabs-indicator {
  background-color: $title-application-color !important;
}

.MuiSvgIcon-root {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
///////////////////////////////////////////////
// Fin Material UI
///////////////////////////////////////////////

.BarreOnglet,
.ongletPageEspace {
  .MuiButtonBase-root {
    background-color: $application-color !important;
    color: white !important;
    opacity: 1 !important;
    padding: 0 1rem !important;
    font-size: 13px !important;
    &:hover {
      opacity: 0.7 !important;
    }
    
    font-family: "NotoSansUI-Bold", sans-serif;
  }

  .MuiButtonBase-root.Mui-selected {
    background-color: $button-application-color !important;
  }
}

.headerOngletPageEspace {
  margin-top: 1em;
  background: none !important;

  .ongletPageEspace {
    a {
      background-color: $application-color;
      opacity: 1 !important;
    }
    a.Mui-selected {
      cursor: pointer !important;
    }
    a.Mui-disabled {
      background-color: $disabled-button;
      cursor: not-allowed !important;
    }
    .MuiTabs-indicator {
      width: 50% !important;
    }
  }
}
