@use "./../../../../scss/colors" as *;

.Toastify__toast-body {
  white-space: pre-line;
}

.Toastify__toast-container {
  width: auto;
  top: 75px;

  .Toastify__toast {
    width: 500px;
  }

  .Toastify__toast-icon {
    position: absolute;
    top: 14px;
  }

  .Toastify__close-button {
    min-width: max-content;
  }

  .success {
    color: $success;
    background-color: $success-background;
  }

  .error {
    color: $error;
    background-color: $error-background;
  }

  .info {
    color: $info;
    background-color: $info-background;
  }

  .warning {
    color: $warning;
    background-color: $warning-background;
  }
}
