@use "./../../../../../../scss/colors" as *;

.ListeAlertes {
  padding: 0.5rem;

  .CodeCouleurAlerteRouge {
    color: $code-couleur-alertes-rouge;
  }
  .CodeCouleurAlerteOrange {
    color: $code-couleur-alertes-orange;
  }
  .CodeCouleurAlerteVert {
    color: $code-couleur-alertes-vert;
  }
  .CodeCouleurAlerteNoir {
    color: $code-couleur-alertes-noir;
  }

  .IconeBoutonSupprimerAlerte {
    padding-left: 1em;
    font-size: 1em;
    color: $application-color;
    cursor: pointer;
  }
}
