.SaisirRCTCPage {
  margin: 1.5rem 8rem;

  .FormulaireSaisirRCTC {
    .BlockInput {
      .RadioInput {
        input {
          width: auto;
        }
      }
    }

    .RequerantForm {
      .BlockInput {
        display: flex;
        width: 1000px;
        justify-content: flex-start;
        input {
          width: 60%;
        }
        label {
          width: 40%;
        }
    
      }
      .BlockErreur {
        margin-left: 29%;
      }
      .nomRequerant {
        position: relative;
      }
      .nomUsage {
        position: relative;
      }
      .BoutonsConteneur {
        position: absolute;
        top: 0px;
        right: 150px;
      }
    }
  }

  .Date {
    display: grid;
    grid-template-columns: 43.4% auto;
    .DateEvenement {
      .DateComposeForm {
        grid-template-columns: 53% 10% 9px 10% 9px 14% 2%;
      }
      .BlockErreur {
        margin-left: 53%;
      }
    }
  }
}
