@import "../../../../../scss/colors";

.FormulaireAccompagnement {
  margin: 0rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 850px;
  background-color: $form-background;
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: #8080805c;
  margin-top: 0.5rem;

  .Fieldset {
    background-color: $form-background;
    border: 0px;
    height: 100%;
    margin: 0;
  }
  .BlockErreur {
    margin-left: 20%;
  }
  .DocumentInput {
    background-color: $form-background;
    margin: 1.5rem 2.5rem;
    .BlockInput {
      grid-template-columns: 20% 45%;
    }
    .BlockErreur {
      margin-left: 20%;
    }
  }
  .SousFormulaire {
    .ElementForm {
      margin: 1.5rem 2.5rem;
    }
  }

  .DeuxColonnesSansLabel {
    grid-template-columns: 50% 50%;
    display: grid;
    .BlockInput {
      grid-template-columns: 90%;
    }
  }
}
