.tableau {
    $bleu-tableau: #0579be;
    
    min-width: 100%;
    border: var(--gris-rece) 2px solid;
    border-radius: .25rem;
    overflow: hidden;
    border-spacing: 0;
    font-size: .9rem;

    th, td {
        padding: .25rem 0;
    }

    thead th {
        border-bottom: var(--gris-rece) 1px solid;
        color: var(--bleu-rece);
        

        button {
            position: relative;
            margin: 0 auto;
            padding: 0;
            min-width: unset;
            overflow: visible;
            background-color: transparent;
            color: $bleu-tableau;
            text-transform: none;
            text-decoration: underline;
            font-family: "NotoSansUi-Regular", sans-serif;
            font-weight: bold;
            transition: color .25s ease;
            font-size: .9rem;

            &:hover {
                color: var(--bleu-sombre-rece);
            }

            svg {
                position: absolute;
                top: .05em;
                right: -.8em;
                z-index: 10;
                width: .8em;
                height: .8em;
                transition: transform .25s ease;

                &.sens-desc {
                    transform: rotate(180deg);
                }
            }

            
        }
    }

    tbody {
        tr:not(:last-child) td {
            border-bottom: var(--gris-rece) 1px solid;
        }

        tr:nth-child(odd):not(.tableau-sans-ligne) {
            background-color: rgba($bleu-tableau, .2);
        }

        tr.ligne-clickable {
            cursor: pointer;
            transition: background-color .25s ease;

            &:hover {
                background-color: rgba($bleu-tableau, .4);
            }
        }

        tr.tableau-sans-ligne td {
            padding: .5rem 0;
        } 

    }
}

.conteneur-pagination-tableau {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 0 1rem;

    span {
        color: var(--gris-sombre-rece);
    }

    button {
        margin: 0;
        padding: 0;
        min-width: unset;
        background-color: transparent;
        color: var(--gris-sombre-rece);
        transition: color .25s ease;

        &:not(:disabled):hover {
            color: var(--bleu-sombre-rece);
        }

        &:disabled {
            background-color: transparent;
            color: var(--gris-rece);
        }
    }
}