@import "../../../scss/colors";


.ApercuRequeteMiseAJourAnalyseMarginalePage {
    display: flex;
    height: 85vh;

.OngletApercuRequeteMiseAJourAnalyseMarginale {
  margin-top: 0.4rem;
  padding: 0.4rem;
  flex: 1;
}


    .Formulaire {
        margin: 1vh;
        margin-top: 2vh;
        display: flex;
    }

    .ConteneurBoutons {
        display: flex;
        justify-content: flex-end;
    }
    
    .blocNomSecable {
        display: flex;
        flex-direction: column;
    }
    
    .bandeauSection {
        background-color: grey;
        font-weight: bold;
        display: flex;
        justify-content: left;
        margin-bottom: 2vh;
        margin-top: 2vh;
    
        > p {
            margin: 10px;
        }
    }
    
    .checkboxSecable {
        margin-bottom: 2vh;
    }
    
     .InputField > .BlockInput {
        display: flex;
        flex-direction: row;
        gap: 0vw;
    
        > label {
            width: 10vw;
        }
    
        > input {
            width: 17vw;
        }
    }
    
    .MuiTabPanel-root {
        padding: 0.2rem 0;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
      }
    
      .VoletAvecOnglet {
        .BarreOnglet {
          .MuiTab-wrapper {
            text-transform: none;
            font-size: 1.1rem;
          }
        }
      }
    
    .voletOnglet {
        display: flex;
    }
}
