@import "../../../../../../../../scss/colors";


.formWrapper {
    text-align: left;
    font-weight: bold;
}

.formWrapperNomSecable{
    align-items: center;
    text-align: left;
    color: $title-application-color;
    margin-left: 2vh;
}

.caseACocherWrapper {
    display: flex;
    height: 50px;
    align-items: center;
    }

.boutonWrapper{
    display: flex;
    height: auto;
    margin: 2vw;
}

.MiseAJourAnalyseMarginaleNomForm {
    margin-left: 2vh;
}