@import "../../../../../../../scss/_colors.scss";

.OngletsApercuCreationEtablissement {
  margin-top: 0.4rem;
  padding: 0.4rem;
  flex: 1;

  .MuiTabPanel-root {
    padding: 0.2rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .VoletAvecOnglet {
    .BarreOnglet {
      .MuiTab-wrapper {
        text-transform: none;
        font-size: 1.1rem;
      }
    }
  }

  .ItemEchangesRetourSDANF {
    .listeMessage {
      padding: 0;
    }
    .container {
      background-color: #adb5bd;
      padding: 0.4rem 0;
      border: 1px solid black;
      margin-bottom: 0.4rem;
      border-radius: 0.18rem;
      list-style: none;

      .date {
        padding: 0 0.4rem;
        display: inherit;
      }
    }
  }

  .ListeActionsRetourSDANF {
    width: 50%;
    margin: auto;
  }
}
