@import "../../../../scss/colors";

.BoutonAccueil {
  margin: 2rem;

  button {
    position: relative;
    font-size: 1.5rem;
    background-color: $application-color;
    padding: 0 1.5rem 0 3rem;
    line-height: 2rem;
    margin: 0;
    border-radius: 10px;
    text-transform: none;
    font-weight: 500;
    width: 275px;
    max-width: 275px;
    height: 120px;
    max-height: 120px;
    text-shadow: 1px 1px 0px #03476e;
    box-shadow: 0px 5px 0px 0px #03476e, 0px 10px 5px #999;

    &:disabled {
      background-color: #586980;
    }
  }

  .MuiBadge-badge {
    color: white;
    padding: 0 9px;
    font-size: 1.2rem;
    height: 28px;
    border-radius: 30px;
    font-weight: bold;
  }

  .IconeBouton {
    font-size: 3rem;
    color: white;
    background-color: #03476e;
    padding: 1rem;
    border-radius: 5rem;
    border: solid white 4px;
    margin: 1.25rem -2.6rem 0 0;
    z-index: 1;
    max-width: 42px;
    max-height: 42px;
    cursor: pointer;

    &.Disabled {
      background-color: #323e4a;
      cursor: default;
    }
  }

  &:hover {
    button:not([disabled]) {
      background-color: #03476e;
      text-shadow: 1px 1px 0px #323e4a;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      box-shadow: 0px 5px 0px 0px $application-color, 0px 10px 5px #999;
    }

    .IconeBouton:not(.Disabled) {
      background-color: $application-color;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
  }
}
