@import "../../../../../../../../scss/colors";

.SousFormulaire {
  .ElementForm {
    margin: 1.5rem 2.5rem;
  }
}

.DeuxColonnesSansLabel {
  grid-template-columns: 50% 50%;
  display: grid;
  .InputField:first-child {
    margin-right: 1rem;
  }
  .InputField:last-child {
    margin-left: 1rem;
  }
}
