.FormulaireRMCRequete {
  .requete {
    grid-column: 1;
    grid-row: 1;
  }

  .datesDebutFin {
    grid-column: 1;
    grid-row: 2;
  }

  .titulaire {
    grid-column: 2;
    grid-row: 1;
    .BtnNomPrenom {
      margin: 0 30% 2%;
      width: 40%;
    }
  }

  .requerant {
    grid-column: 2;
    grid-row: 2;
  }
}
